.back-btn {
  padding: 10px 40px;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-color: #1f79ba;
  border-radius: 5px;
  background-color: #fff;
  color: #1f79ba;
  font-size: 18px;
  font-weight: 500;
}

.back-btn:hover {
  background-color: #DEF1FF;
  color: #1f79ba;
}


.next-btn {
  padding: 10px 40px;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  color: white;
  border-color: #1f79ba;
  background-color: #1f79ba;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
}

.next-btn:hover {
  background-color: #DEF1FF;
  color: #1f79ba;
}

.next-btn.timeline {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
}

.right-timeline-card.anytime:hover {
  opacity: 50%;
}

.city {
  font-size: 14px;
  font-family: Poppins;
  color: #45484b;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 18px;
}

.color-choice {
  padding: 5px;
  border: black;
  border-width: thin;
  border-radius: 10px;
  background-color: red;
}

.everything-col {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10000;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
}

.nav-link:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
}

.nav-link.selected {
  border-radius: 20px;
  background-color: #fff;
}

.nav-link-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.nav-link-text.selected {
  color: #1f79ba;
}

._18-poppins {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #142450;
  font-size: 18px;
  line-height: 24px;
  padding: 0px;
}

.section-header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: center;
}

.alert-page-container {
  width: auto;
  margin-top: 0px;
  padding: 40px;
  background-color: #fff;
}

.company-card {
  padding: 20px 20px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #1f79ba;
}
.company-card:hover {
  padding: 20px 20px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #1f79ba;
  cursor: pointer;
  background-color: #DEF1FF;
}

.grid-15.summary {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 0.25fr;
  grid-template-columns: 0.25fr;
}