{% extends 'Students/base.html' %}
{% load static %}
{% block stylesheets %}
    <link href="{% static 'students/m1/style.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<body style="padding: 0px; margin: 0px">
<div class="alert-page-wrapper" style="display: flex;" id="alert">
    <div class="alert-page-container">
        <p class="alert-box-title" style="margin-bottom: 20px">Now we need to categorize your transactions</p>
        <p class="alert-box-text">On the next page, please categories all of your transactions into the categories that you just made. </p>
        <div>








        </div>
        <form method="post" style="width: 100%">
        {% csrf_token %}
            <div class="bottom-btn-wrapper" style="width: 100%; padding: 0px">
                <a href="../../university/video/7" class="back-btn">Back</a>
                <input type="text" value="2" class="progress-input" name="progress">
                <button type="submit" class="next-btn">Finish</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}