{% extends 'Students/base.html' %}
{% load static %}
{% block stylesheets %}
    <link href="{% static 'students/m2/style.css' %}" rel="stylesheet" type="text/css">

{% endblock %}


{% block content %}
<body class="body-3">
  <div class="full-page-wrapper-2">

    <div class="section-container">
      <div class="page-title-blue">
        <h1 class="heading-41">Spending Profile </h1>
      </div>
    </div>
  </div>

 <div id="spending-profile-scale-container">
        <div class="lycter-scales">
    <div class="section-header-wrapper lycter-scale">
      <h1 class="page-section-header-3">Spending Profile (<span id="spender-profile-step-progress">1</span> /3)</h1>
      <h1 class="page-section-header-3 hide">Spending Profile (2/3)</h1>
      <h1 class="page-section-header-3 hide">Spending Profile (3/3)</h1>
      <h1 class="_18-poppins nomral">These questions are here to help us, help you.</h1>
    </div>
    <div class="lycter-questions first" id="lycterQuestionsFirst">
      <div class="lycter-q1">
        <h1 class="_18-poppins semibold">Life is about having fun more than anything else</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
                <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others">
        <h1 class="_18-poppins semibold">I&#x27;m most comfortable when my money is in savings</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
                <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others">
        <h1 class="_18-poppins semibold">I only spend money on the things I need, because there are other things, I know I want in the future</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others">
        <h1 class="_18-poppins semibold">It&#x27;s okay to spend your money you&#x27;re young, it&#x27;s time to live it up</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others" style="margin-bottom: 60px">
        <h1 class="_18-poppins semibold">I&#x27;m very attentive and careful when it comes to spending money</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>

    </div>



    <div class="lycter-questions second" id="lycterQuestionsSecond">
      <div class="lycter-q1">
        <h1 class="_18-poppins semibold">Life is about having fun more than anything else</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others">
        <h1 class="_18-poppins semibold">I&#x27;m most comfortable when my money is in savings</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others">
        <h1 class="_18-poppins semibold">I only spend money on the things I need, because there are other things, I know I want in the future</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
              <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="Radio" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="Radio" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="Radio" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="Radio" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="Radio" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>

            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others">
        <h1 class="_18-poppins semibold">It&#x27;s okay to spend your money you&#x27;re young, it&#x27;s time to live it up</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others" style="margin-bottom: 60px">
        <h1 class="_18-poppins semibold">I&#x27;m very attentive and careful when it comes to spending money</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>

    </div>
    <div class="lycter-questions third" id="lycterQuestionsThird">
      <div class="lycter-q1">
        <h1 class="_18-poppins semibold">Life is about having fun more than anything else</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others">
        <h1 class="_18-poppins semibold">I&#x27;m most comfortable when my money is in savings</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others">
        <h1 class="_18-poppins semibold">I only spend money on the things I need, because there are other things, I know I want in the future</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others">
        <h1 class="_18-poppins semibold">It&#x27;s okay to spend your money you&#x27;re young, it&#x27;s time to live it up</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>
      <div class="lycter-others" style="margin-bottom: 60px">
        <h1 class="_18-poppins semibold">I&#x27;m very attentive and careful when it comes to spending money</h1>
        <div class="scale">
          <div class="text-block-57">Strongly Disagree</div>
          <div class="radio-buttons">
            <div class="form-block w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="form">
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-2" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="-1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                      <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="0" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                        <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="1" class="w-form-formradioinput w-radio-input">
                      <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
                  <label class="radio-button-field w-radio">
                  <input type="radio" data-name="Radio 11" id="radio-11" name="radio" value="2" class="w-form-formradioinput w-radio-input">
                  <span class="radio-button-label-2 w-form-label" for="radio-11">Radio</span>
                  </label>
              </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-57">Strongly agree</div>
        </div>
      </div>

    </div>


    <div class="" style="display: flex; padding-bottom: 60px">
        <button class="back-btn" type="submit" id="lycher-scale-back" style="font-weight: 600;display: none; margin-right: 40px" onclick="toggleLycterScale(this)">Back</button>
        <button type="submit" class="next-btn" id="lycher-scale-next" style="font-weight: 600" onclick="toggleLycterScale(this)">Next</button>
    </div>




  </div>

 </div>



  <div class="reoccuring-cost-wrapper" id="subscriptions-container" style="display: none">
    <div class="section-header-wrapper">
      <h1 class="page-section-header-3">Select the subscriptions you usually pay for</h1>
    </div>
    <div>
      <div class="w-layout-grid grid-27" >
          {% for subscript in subscriptions %}
            {% csrf_token %}
              <div id="w-node-cc15f417-e4bb-565b-c521-96277a83fb04-e55e6eae" class="reoccuring-cost-card" onclick="subscriptionClick(this)">
              <div class="logo-icon-wrapper" style="display: flex; align-content: center; justify-content: center; flex-wrap: wrap">
                  <img src="../../../media/{{ subscript.img }}" loading="lazy" alt="" style="width: 100px; height: 100px">
              </div>
              <div class="company-name-2">
                <h1 class="_14px-2">{{ subscript.subscription_title }}</h1>
              </div>
              <div class="price-range-wrapper hidden">
                  <h1 class="_14px-2" id="subscription-cost">{{ subscript.subscription_cost }}</h1>
                <button type="button" id="" class="next-btn subscrup">add</button>
              </div>
        </div>
          {% endfor %}
      </div>
    </div>
  </div>


  <div class="reoccuring-cost-wrapper" id="monthly-expenses-container" style="display: none">
    <div class="section-header-wrapper">
      <h1 class="page-section-header-3">Select the Monthly costs and their ranges</h1>
    </div>
    <div>
      <div class="w-layout-grid grid-27" >
          {% for expense in monthly_expenses %}
            {% csrf_token %}
              <div id="w-node-cc15f417-e4bb-565b-c521-96277a83fb04-e55e6eae" class="reoccuring-cost-card" onclick="monthly_expenseClick(this)">
                  <div class="logo-icon-wrapper">
                      <img src="../../../media/{{ expense.img }}" loading="lazy" alt="">
                  </div>
                  <div class="company-name-2">
                    <h1 class="_14px-2">{{ expense.monthly_expense_title }}</h1>
                  </div>
                  <div class="price-range-wrapper hidden">
                          <select class="monthly-ranges">
                            <option value="">-SELECT RANGE-</option>
                              {% for range in monthly_expenses_ranges %}
                                <option value="">{{ range.0 }}</option>
                              {% endfor %}
                          </select>

                    <button type="button" id="" class="next-btn monthly">add</button>
                  </div>
              </div>
          {% endfor %}
      </div>
    </div>
  </div>



    <form method="post" style="width: 100%; display: block;" id="send_form" >
     {% csrf_token %}
         <div class="button-wrapper bottom-spacing">



             <button type="button" class="back-btn" style="font-weight: 600; display: none;" onclick="spender_profile_toggle(this)" id="toggle-back-button">Back</button>
             <a href="{% url 'Students:universal-video-page' '5' %}" class="back-btn" style="font-weight: 600" id="back-button-with-link">Back</a>


             <button type="button" class="next-btn" style="font-weight: 600; display: none" onclick="spender_profile_toggle(this)" id="next-btn-toggle">Next</button>

             <button type="submit" class="next-btn" style="font-weight: 600;display: none" id="next-btn">Next</button>
        </div>

    </form>

</body>


<script>

// LOGIC FOR GETTING REQUIRED SUBSCRIPTIONS
var radioButtons = document.getElementsByClassName('w-form-formradioinput w-radio-input')
var nextButtonToggle = document.getElementById('next-btn-toggle');

var numChecked = 0
for(var i = 0; i < radioButtons.length; i++) {
    radioButtons[i].onclick = function() {
        numChecked += 1
        if(numChecked === 1) {
            console.log('it is completed')
            nextButtonToggle.style.display = 'block'
        }
    }
}


// CODE FOR SENDING SUBSCRIPTIONS
const addButtons = document.querySelectorAll('.next-btn.subscrup')
    addButtons.forEach(addButtons => {
    addButtons.addEventListener('click', function handleClick(event) {
        var companyName = this.parentElement.parentElement.children[1].children[0].innerHTML
        var subscriptionCost = this.parentElement.children[0].innerHTML
        console.log(subscriptionCost)
        console.log(companyName)
        this.parentElement.parentElement.style.display = 'none'

        $.ajax({
              type: "POST",
              url: '/university/budgeting/step1',
              data: {
                  csrfmiddlewaretoken: '{{csrf_token}}',
                  action: "post",
                  subscriptionCost: subscriptionCost,
                  companyName: companyName,
                  type: 'sub'


                }

            })
        console.log('{{csrf_token}}')


  });
});


// CODE FOR SENDING SUBSCRIPTIONS
const monthlyAddButtons = document.querySelectorAll('.next-btn.monthly')
    monthlyAddButtons.forEach(monthlyAddButtons => {
    monthlyAddButtons.addEventListener('click', function handleClick(event) {
        var companyName = this.parentElement.parentElement.children[1].children[0].innerHTML
        var selected_option = this.parentElement.children[0].options.selectedIndex
        var subscriptionCost = this.parentElement.children[0].options[selected_option].innerHTML
        if(selected_option === 0){
            console.log('it is 000000')
        } else {
            this.parentElement.parentElement.style.display = 'none'
            console.log('send ', selected_option)
            $.ajax({
                  type: "POST",
                  url: '/university/budgeting/step1',
                  data: {
                      csrfmiddlewaretoken: '{{csrf_token}}',
                      action: "post",
                      subscriptionCost: subscriptionCost,
                      companyName: companyName,
                      type: 'mon'


                    }

                })
        }

  });
});

</script>


{% endblock %}


{% block scripts %}
        <script src="{% static 'students/js/script.js' %}" type="text/javascript"></script>


{% endblock %}