{% extends 'Students/base.html' %}
{% load static %}


{% block content %}
    <div class="full-page-wrapper">
    <div class="section-container">
      <div class="page-title-blue">
        <h1 class="heading-4">Dashboard</h1>
      </div>
    </div>
    <div class="page-divider-container">
      <div class="page-divider w-row">
        <div class="page-left-column left-padding w-col w-col-4">
          <div class="_20-padding-container">
            <h1 class="_24px semibold text">Timeline</h1>
            <div class="w-layout-grid timeline-grid top">
              <div id="w-node-fbfb7ce5-02c3-bd99-0c4d-1ddf298b8575-fe18aa3b" class="timeline-left-col">
                <div class="timeline-line top"></div>
              </div>
            </div>

              {% for event in student_path %}
                {% if event.type == 'Life Event' %}
                    {% if event.status == 'not-started' %}
                        {% if event.title != 'First Job' %}

                            <a href="{% url 'Anytime:all-anytime-decisions' %}">
                            <div class="w-layout-grid timeline-grid anytime">
                          <div id="w-node-df9b64e8-75ac-382d-e4f8-16c0eec0d9d4-fe18aa3b" class="timeline-left-col">
                            <div class="timeline-line"></div><img src="{% static 'images/icons/uncomplete-Event-icon.jpg' %}" loading="lazy" width="54" alt="" class="image-4">
                            <div class="timeline-line bottom"></div>
                          </div>
                          <div id="w-node-df9b64e8-75ac-382d-e4f8-16c0eec0d9d8-fe18aa3b" class="timeline-grid-right">
                            <div class="w-row">
                              <div class="column-7 w-col w-col-2">
                                <div class="div-block-140"></div>
                              </div>
                              <div class="w-col w-col-10">
                                <div class="right-timeline-card anytime"><img src="{% static 'images/icons/anytime-plus-icon.jpg' %}" loading="lazy" width="62" alt="" class="anytime-plus">
                                  <h1 class="anytime-title card">Anytime Decision</h1>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </a>


                        {% endif %}
                        <div class="w-layout-grid timeline-grid">
                          <div id="w-node-_63dec499-8f66-84f5-daf0-21c467f699f8-fe18aa3b" class="timeline-left-col">
                            <div class="timeline-line"></div><img src="{% static 'images/icons/uncomplete-Event-icon.jpg' %}" loading="lazy" width="54" alt="" class="image-4">
                            <div class="timeline-line bottom" style="background-color: #B2D8FF"></div>
                          </div>
                          <div id="w-node-fe83bceb-a5f7-9da2-db5b-f0eac4a3eefd-fe18aa3b" class="timeline-grid-right">
                            <div class="w-row">
                              <div class="column-7 w-col w-col-2">
                                <div class="div-block-140"></div>
                              </div>

                                <div class="w-col w-col-10">
                                <div class="right-timeline-card"><img src="{{ event.imgurl }}" loading="lazy" class="image-5">
                                  <div class="_18 medium text lifeevent-title">{{ event.title }}</div>
                                  <div class="_14px _10-top _14">{{ event.description }}</div>
                                  <div class="add-button start">
                                      <a href="{% url 'Students:universal-video-page' event.videoPageId %}" style="text-decoration: none">
                                      <div class="_18-poppins white">Start</div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>



                {% elif event.status == 'completed' %}

              <div class="w-layout-grid timeline-grid">
              <div id="w-node-_63dec499-8f66-84f5-daf0-21c467f699f8-fe18aa3b" class="timeline-left-col">
                <div class="timeline-line"></div><img src="{% static 'images/icons/Completed-Event-icon.jpg' %}" loading="lazy" width="54" alt="" class="image-4">
                <div class="timeline-line bottom"></div>
              </div>
              <div id="w-node-fe83bceb-a5f7-9da2-db5b-f0eac4a3eefd-fe18aa3b" class="timeline-grid-right">
                <div class="w-row">
                  <div class="column-7 w-col w-col-2">
                    <div class="div-block-140"></div>
                  </div>

                    <div class="w-col w-col-10">
                    <div class="right-timeline-card">
                      <div class="_18 medium text lifeevent-title">{{ event.title }}</div>
                      <div class="_14px _10-top _14">{{ event.type }}</div>
                      <div class="add-button start">
                          <a href="{% url 'Students:module-summary-page' event.summaryPage '1' %}" style="text-decoration: none">
                          <div class="_18-poppins white">Review</div>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



                {% endif %}

            {% else %}

            <div class="w-layout-grid timeline-grid">
              <div id="w-node-_63dec499-8f66-84f5-daf0-21c467f699f8-fe18aa3b" class="timeline-left-col">
                <div class="timeline-line"></div><img src="{% static 'images/icons/Completed-Event-icon.jpg' %}" loading="lazy" width="54" alt="" class="image-4">
                <div class="timeline-line bottom"></div>
              </div>
              <div id="w-node-fe83bceb-a5f7-9da2-db5b-f0eac4a3eefd-fe18aa3b" class="timeline-grid-right">
                <div class="w-row">
                  <div class="column-7 w-col w-col-2">
                    <div class="div-block-140"></div>
                  </div>
                    <div class="w-col w-col-10">
                    <div class="right-timeline-card">
                      <div class="_18 medium text lifeevent-title">{{ event.title }}</div>
                      <div class="_14px _10-top _14">{{ event.type }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            {% endif %}
            {% endfor %}



          </div>
        </div>
        <div class="column w-col w-col-8">
          <div class="right-column">
 <div class="section-container">
              <div class="w-layout-grid grid-6">
                <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30759-fe18aa3b" class="_20-padding-container centered-div">
                  <div class="profile-snapshot top">
                    <div class="profile-image"><img src="{{ profile_image.url }}" loading="lazy" alt="" class="profile-image homepageprofile"></div>
                    <div class="profile-snapshot-information">
                      <div>
                        <h1 class="heading-32">{{ first_name }} {{ last_name }}</h1>
                      </div>
                      <div>
                        <div class="_18 medium text">{{ jobTitle }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="profile-snapshot bottom">
                    <div class="w-layout-grid _100-width">
                      <div class="centered-div _10-padding">
                        <div class="_40-width-picture"><img src="{% static 'images/icons/Icon-material-cake.png' %}" loading="lazy" alt="" class="_40x40"></div>
                        <div class="_14px normal _10-top">
                          <div class="_14px normal center">{{ age }}</div>
                        </div>
                      </div>
                      <div class="centered-div _10-padding">
                        <div class="_40-width-picture"><img src="{% static 'images/icons/Icon material-location-on.png' %}" loading="lazy" alt="" class="_40x40"></div>
                        <div class="_14px normal _10-top">
                          <div class="_14px normal center">{% if location %}{{ location }}{% endif %}</div>
                        </div>
                      </div>
                      <div class="centered-div _10-padding">
                        <div class="_40-width-picture"><img src="{% static 'images/icons/Icon material-location-on.png' %}" loading="lazy" alt="" class="_40x40"></div>
                        <div class="_14px normal _10-top">
                          <div class="_14px normal center">*living*</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3077e-fe18aa3b" class="_20-padding-container centered-div">
                  <div class="centered-div"><img src="{% static 'images/icons/Icon awesome-coins.png' %}" loading="lazy" alt="" class="image-6">
                    <div class="_10-top">
                      <h1 class="_18 semibold blue">{{ total_points }} XP</h1>
                      <div class="centered-text _16px">Last Decision</div>
                      <div class="centered-text green">+ {{ last_points }}</div>
                    </div>
                  </div>
                </div>
                <div class="_20-padding-container box-shadow centered-div">
                  <div class="calendar-wrapper">
                    <div class="month-year-wrapper">
                      <div class="_18 semibold text"><span>*Month*</span> <span>*Year*</span></div>
                    </div>
                    <div class="day-wrapper">
                      <div class="w-layout-grid grid-3">
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306d9-fe18aa3b" class="day-name">
                          <div class="text-block-3">Sun</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306dc-fe18aa3b" class="day-name">
                          <div class="text-block-3">Mon</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306df-fe18aa3b" class="day-name">
                          <div class="text-block-3">Tue</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306e2-fe18aa3b" class="day-name">
                          <div class="text-block-3">Wed</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306e5-fe18aa3b" class="day-name">
                          <div class="text-block-3">Thu</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306e8-fe18aa3b" class="day-name">
                          <div class="text-block-3">Fri</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306eb-fe18aa3b" class="day-name">
                          <div class="text-block-3">Sat</div>
                        </div>
                      </div>
                    </div>
                    <div class="day-number-wrapper">
                      <div class="w-layout-grid grid-4">
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306f0-fe18aa3b" class="number non-current smaller">
                          <div>30</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306f3-fe18aa3b" class="number current-month smaller-calendar">
                          <div>01</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306f6-fe18aa3b" class="number current-month smaller-calendar">
                          <div>02</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306f9-fe18aa3b" class="number current-month smaller-calendar">
                          <div>03</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306fc-fe18aa3b" class="number current-month smaller-calendar">
                          <div>04</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd306ff-fe18aa3b" class="number current-month smaller-calendar">
                          <div>05</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30702-fe18aa3b" class="number current-month smaller-calendar">
                          <div>06</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30705-fe18aa3b" class="number current-month smaller-calendar">
                          <div>07</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30708-fe18aa3b" class="number current-month smaller-calendar">
                          <div>08</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3070b-fe18aa3b" class="number current-month smaller-calendar">
                          <div>09</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3070e-fe18aa3b" class="number current-month smaller-calendar">
                          <div>10</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30711-fe18aa3b" class="number current-month smaller-calendar">
                          <div>11</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30714-fe18aa3b" class="number current-month smaller-calendar">
                          <div>12</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30717-fe18aa3b" class="number current-month smaller-calendar">
                          <div>13</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3071a-fe18aa3b" class="number current-month smaller-calendar">
                          <div>14</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3071d-fe18aa3b" class="number current-month smaller-calendar">
                          <div>15</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30720-fe18aa3b" class="number current-month smaller-calendar">
                          <div>16</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30723-fe18aa3b" class="number current-month smaller-calendar current-day">
                          <div>17</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30726-fe18aa3b" class="number current-month smaller-calendar">
                          <div>18</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30729-fe18aa3b" class="number current-month smaller-calendar">
                          <div>19</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3072c-fe18aa3b" class="number current-month smaller-calendar">
                          <div>20</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3072f-fe18aa3b" class="number current-month smaller-calendar">
                          <div>21</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30732-fe18aa3b" class="number current-month smaller-calendar">
                          <div>22</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30735-fe18aa3b" class="number current-month smaller-calendar">
                          <div>23</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30738-fe18aa3b" class="number current-month smaller-calendar">
                          <div>24</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3073b-fe18aa3b" class="number current-month smaller-calendar">
                          <div>25</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3073e-fe18aa3b" class="number current-month smaller-calendar">
                          <div>26</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30741-fe18aa3b" class="number current-month smaller-calendar">
                          <div>27</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30744-fe18aa3b" class="number current-month smaller-calendar">
                          <div>28</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30747-fe18aa3b" class="number current-month smaller-calendar">
                          <div>29</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3074a-fe18aa3b" class="number current-month smaller-calendar">
                          <div>30</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3074d-fe18aa3b" class="number current-month smaller-calendar">
                          <div>31</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30750-fe18aa3b" class="number non-current smaller">
                          <div>1</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30753-fe18aa3b" class="number non-current smaller">
                          <div>02</div>
                        </div>
                        <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30756-fe18aa3b" class="number non-current smaller">
                          <div>03</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {% if student_progress != '4' %}
            <div class="section-warpper">
              <div>
                <h1 class="page-section-header">Recommended Anytime Decisions</h1>
              </div>
              <div class="_10-top">
                <div class="w-layout-grid grid-7">
                    {% for decision in anytime_dec %}
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30795-fe18aa3b" class="_20-padding-container alternative" style="justify-content: space-between; width: 200px">
                   <div>
                    <div><img src="{{ decision.img.url }}" loading="lazy" width="200px" height="110" class="image-5" alt=""></div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30798-fe18aa3b" class="_10-top">
                      <div class="_18" style="font-size: 18px; line-height: 22px">{{ decision.title }}</div>
                      <div class="_14px _10-top _14">{{ decision.description|slice:":90" }}...</div>
                    </div>
                   </div>
                    <div class="_10-top _100-width">
                     <a href="{% url 'Anytime:anytime-decision' decision.id %}" style="text-decoration: none">
                      <div class="add-button">
                          <div class="_18-poppins white">Add</div>
                      </div>
                          </a>
                    </div>
                  </div>
                    {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}


            <div class="section-warpper">
              <div>
                <h1 class="page-section-header">More Information</h1>
              </div>
              <div class="_10-top">
                <div class="w-layout-grid grid-8">
                  <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307d7-fe18aa3b" class="_20-padding-container">
                    <div class="horizontal">
                      <div class="_24px normal">Previous Devisions</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-ed09823b-3717-1360-ceaf-ff020bd307db-fe18aa3b" alt="">
                    </div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307dc-fe18aa3b" class="_10-top hidden">
                      <div class="_18px">*Prior Information*</div>
                    </div>
                  </div>
                  <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307df-fe18aa3b" class="_20-padding-container">
                    <div class="horizontal">
                      <div class="_24px normal">My Career</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-ed09823b-3717-1360-ceaf-ff020bd307e3-fe18aa3b" alt="">
                    </div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307e4-fe18aa3b" class="_10-top hidden">
                      <div class="_18px">*Prior Information*</div>
                    </div>
                  </div>
                  <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307e7-fe18aa3b" class="_20-padding-container">
                    <div class="horizontal">
                      <div class="_24px normal">Previous Budgets</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-ed09823b-3717-1360-ceaf-ff020bd307eb-fe18aa3b" alt="">
                    </div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307ec-fe18aa3b" class="_10-top hidden">
                      <div class="_18px">*Prior Information*</div>
                    </div>
                  </div>
                  <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307ef-fe18aa3b" class="_20-padding-container">
                    <div class="horizontal">
                      <div class="_24px normal">Previous Goals</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-ed09823b-3717-1360-ceaf-ff020bd307f3-fe18aa3b" alt="">
                    </div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307f4-fe18aa3b" class="_10-top hidden">
                      <div class="_18px">*Prior Information*</div>
                    </div>
                  </div>
                  <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307f7-fe18aa3b" class="_20-padding-container">
                    <div class="horizontal">
                      <div class="_24px normal">Loans</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-ed09823b-3717-1360-ceaf-ff020bd307fb-fe18aa3b" alt="">
                    </div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307fc-fe18aa3b" class="_10-top hidden">
                      <div class="_18px">*Prior Information*</div>
                    </div>
                  </div>
                  <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd307ff-fe18aa3b" class="_20-padding-container">
                    <div class="horizontal">
                      <div class="_24px normal">Investments</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-ed09823b-3717-1360-ceaf-ff020bd30803-fe18aa3b" alt="">
                    </div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30804-fe18aa3b" class="_10-top hidden">
                      <div class="_18px">*Prior Information*</div>
                    </div>
                  </div>
                  <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30807-fe18aa3b" class="_20-padding-container">
                    <div class="horizontal">
                      <div class="_24px normal">Taxes</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-ed09823b-3717-1360-ceaf-ff020bd3080b-fe18aa3b" alt="">
                    </div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3080c-fe18aa3b" class="_10-top hidden">
                      <div class="_18px">*Prior Information*</div>
                    </div>
                  </div>
                  <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3080f-fe18aa3b" class="_20-padding-container">
                    <div class="horizontal">
                      <div class="_24px normal">Skills &amp; Certifications</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-ed09823b-3717-1360-ceaf-ff020bd30813-fe18aa3b" alt="">
                    </div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30814-fe18aa3b" class="_10-top hidden">
                      <div class="_18px">*Prior Information*</div>
                    </div>
                  </div>
                  <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30817-fe18aa3b" class="_20-padding-container">
                    <div class="horizontal">
                      <div class="_24px normal">My Insurance</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-ed09823b-3717-1360-ceaf-ff020bd3081b-fe18aa3b" alt="">
                    </div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3081c-fe18aa3b" class="_10-top hidden">
                      <div class="_18px">*Prior Information*</div>
                    </div>
                  </div>
                  <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd3081f-fe18aa3b" class="_20-padding-container">
                    <div class="horizontal">
                      <div class="_24px normal">Real Estate</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-ed09823b-3717-1360-ceaf-ff020bd30823-fe18aa3b" alt="">
                    </div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30824-fe18aa3b" class="_10-top hidden">
                      <div class="_18px">*Prior Information*</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





{% endblock %}