{% extends 'Students/base.html' %}
{% load static %}

{% block stylesheets %}
 <link href="{% static 'students/m1/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'students/css/new_stylesheet.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<body class="body">
    <div class="full-page-wrapper">

      <div class="section-container">
        <div class="page-title-blue">
          <h1 class="heading-4">Life Event - {{ summary_title }} Summary</h1>
        </div>
      </div>
    </div>
    <div class="module-summary-page-wrapper" style="padding-bottom: 80px">
      <div class="w-layout-grid grid-14">
        <div id="w-node-_10387a8c-b1a6-4cec-b235-1cf47c9e424e-962fd150" class="left-summary-wrapper">
          <div class="calendary-summary-wrapper">
            <div class="w-layout-grid grid-16">
              <div class="_20-padding-container box-shadow centered-div">
                <div class="calendar-wrapper">
                  <div class="month-year-wrapper">
                    <div class="_24px semibold text"><span>*Month*</span> <span>*Year*</span></div>
                  </div>
                  <div class="day-wrapper">
                    <div class="w-layout-grid grid-3">
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0ce-962fd150" class="day-name">
                        <div class="text-block-3">Sun</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0d1-962fd150" class="day-name">
                        <div class="text-block-3">Mon</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0d4-962fd150" class="day-name">
                        <div class="text-block-3">Tue</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0d7-962fd150" class="day-name">
                        <div class="text-block-3">Wed</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0da-962fd150" class="day-name">
                        <div class="text-block-3">Thu</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0dd-962fd150" class="day-name">
                        <div class="text-block-3">Fri</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0e0-962fd150" class="day-name">
                        <div class="text-block-3">Sat</div>
                      </div>
                    </div>
                  </div>
                  <div class="day-number-wrapper">
                    <div class="w-layout-grid grid-4">
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0e5-962fd150" class="number non-current smaller">
                        <div>30</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0e8-962fd150" class="number current-month smaller-calendar">
                        <div>01</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0eb-962fd150" class="number current-month smaller-calendar">
                        <div>02</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0ee-962fd150" class="number current-month smaller-calendar current-day">
                        <div>03</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0f1-962fd150" class="number current-month smaller-calendar">
                        <div>04</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0f4-962fd150" class="number current-month smaller-calendar">
                        <div>05</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0f7-962fd150" class="number current-month smaller-calendar">
                        <div>06</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0fa-962fd150" class="number current-month smaller-calendar">
                        <div>07</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e0fd-962fd150" class="number current-month smaller-calendar">
                        <div>08</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e100-962fd150" class="number current-month smaller-calendar">
                        <div>09</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e103-962fd150" class="number current-month smaller-calendar">
                        <div>10</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e106-962fd150" class="number current-month smaller-calendar">
                        <div>11</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e109-962fd150" class="number current-month smaller-calendar">
                        <div>12</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e10c-962fd150" class="number current-month smaller-calendar">
                        <div>13</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e10f-962fd150" class="number current-month smaller-calendar">
                        <div>14</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e112-962fd150" class="number current-month smaller-calendar">
                        <div>15</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e115-962fd150" class="number current-month smaller-calendar">
                        <div>16</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e118-962fd150" class="number current-month smaller-calendar">
                        <div>17</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e11b-962fd150" class="number current-month smaller-calendar">
                        <div>18</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e11e-962fd150" class="number current-month smaller-calendar">
                        <div>19</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e121-962fd150" class="number current-month smaller-calendar">
                        <div>20</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e124-962fd150" class="number current-month smaller-calendar">
                        <div>21</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e127-962fd150" class="number current-month smaller-calendar">
                        <div>22</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e12a-962fd150" class="number current-month smaller-calendar">
                        <div>23</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e12d-962fd150" class="number current-month smaller-calendar">
                        <div>24</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e130-962fd150" class="number current-month smaller-calendar">
                        <div>25</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e133-962fd150" class="number current-month smaller-calendar">
                        <div>26</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e136-962fd150" class="number current-month smaller-calendar">
                        <div>27</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e139-962fd150" class="number current-month smaller-calendar">
                        <div>28</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e13c-962fd150" class="number current-month smaller-calendar">
                        <div>29</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e13f-962fd150" class="number current-month smaller-calendar">
                        <div>30</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e142-962fd150" class="number current-month smaller-calendar">
                        <div>31</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e145-962fd150" class="number non-current smaller">
                        <div>1</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e148-962fd150" class="number non-current smaller">
                        <div>02</div>
                      </div>
                      <div id="w-node-_12e6602c-ea28-bf3c-9d53-2b577245e14b-962fd150" class="number non-current smaller">
                        <div>03</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="w-node-ffc74bb9-b903-9ece-52cc-1d5d62f980bf-962fd150" class="_20-padding-container">
                <div class="section-header-wrapper">
                  <h1 class="page-section-header" style="font-size: 24px; line-height: 24px">Here&#x27;s What Happened</h1>
                </div>
                <p class="paragraph" style="font-size: 18px; line-height: 22px">{{ summary.module.whats_happened }}</p>
              </div>
            </div>
          </div>
          <div class="impact-wrapper">
            <div class="w-layout-grid grid-17">
              <div id="w-node-d3badde0-c082-bfc5-4581-eb17696cf7bb-962fd150" class="_20-padding-container _100">
                <h1 class="impact-header" style="font-size: 24px; line-height: 24px">Module Videos</h1>
                <h1 class="results-subheader" style="font-size: 18px; line-height: 22px"></h1>


                  {% for video in current_videos %}
                  <a href="/{{ video.link }}/{{ c }}" style="text-decoration: none; color: #1c2126" class="video-links">
                    <div class="div-block-144" style="padding: 10px; display: flex; align-items: center; align-content: center">
                        <div class="div-block-146" style="display: flex; justify-content: space-between">
                        <div class="div-block-145"><img src="{% static 'images/icons/green-check-icon.png' %}" loading="lazy" alt="" style="width: 15px; height: 15px"></div>
                        <div class="_14-poppins learningobj" style="padding-right: 10px; max-width: 150px">{{ video.title }}</div>
                    </div>
                    <div class="div-block-145" style="display: flex; justify-content: flex-end"><img src="{% static 'images/icons/right_caret_004A80.svg' %}" loading="lazy" alt="" style="height: 15px" width="15px"></div>
                    </div>
                  </a>
                {% endfor %}



              </div>
              <div id="w-node-_8d2a2f93-eb9e-3633-3e1b-91187eb2282a-962fd150" class="_20-padding-container _100">
                <h1 class="impact-header">Module Results</h1>
                <h1 class="results-subheader green">+ $3289.34</h1>
                <div class="_14-poppins finances">Monthly Salary</div>
                <div class="financial-break">
                  <div class="div-block-144 right">
                    <div class="div-block-146">
                      <div class="div-block-145 blue"></div>
                      <div class="_14-poppins financials">401(k) benefits</div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="w-node-_58acb94a-0ad7-7d90-10e6-2c0303aeb53c-962fd150" class="_20-padding-container _100 centered-div">
                <div class="centered-div"><img src="{% static 'images/icons/Icon awesome-coins.png' %}" width="125px" height="125px" loading="lazy" alt="">
                  <div>
                    <h1 class="_24px semibold blue" style="margin-top: 20px; text-align: center; width: 100%">{{ total_points }} XP</h1>
                    <div class="centered-text" style="text-align: center; width: 100%">Last Decision</div>
                    <div class="centered-text green">+<span>{{ modulePoints }}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-d0afc307-c444-544c-244d-b5d0c684873a-962fd150" class="_40-padding-container">
          <div class="section-header-wrapper">
            <h1 class="page-section-header">Unlocked Decisions</h1>
          </div>
          <div class="unlocked-decisions">
            <div class="w-layout-grid grid-15 summary" style="grid-column-gap: 10px; grid-row-gap: 10px">

                {% for decision in anytime_dec %}
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30795-fe18aa3b" class="_20-padding-container alternative" style="height: 100%; width: 100%; max-width: 100px">
                    <div><img src="{{ decision.img.url }}" loading="lazy" width="200px" height="110" class="image-5" alt=""></div>
                    <div id="w-node-ed09823b-3717-1360-ceaf-ff020bd30798-fe18aa3b" class="_10-top">
                      <div class="_18" style="font-size: 18px; line-height: 22px">{{ decision.title }}</div>
                      <div class="_14px _10-top _14">{{ decision.description|slice:":90" }}...</div>
                    </div>
                    <div class="_10-top _100-width">
                    </div>
                  </div>
                    {% endfor %}


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button-wrapper bottom-spacing">
        {% if page_type == '0' %}
        <a href="{% url 'Students:first-job-step4'  %}" style="text-decoration: none">
        <div class="back-btn" style="text-decoration: none">
        <div class="" style="text-decoration: none">Back</div>
      </div>
        </a>
      <a href="{% url 'Students:dashboard'  %}" style="text-decoration: none">
        <div class="next-btn" style="text-decoration: none">
        <div class="" >Next</div>
      </div>
      </a>
        {% elif page_type == '1' %}
        <a href="{% url 'Students:dashboard'  %}" style="text-decoration: none">
        <div class="back-btn" style="text-decoration: none" style="text-decoration: none">
        <div class="" style="text-decoration: none">Back</div>

      </div>
        </a>

        {% endif %}
    </div>




<style>


.video-links:hover {
    opacity: 50%;
}



</style>






</body>

{% endblock %}