{% extends 'MainWebsite/base.html' %}
{% load static %}

{% block content %}


    <body class="body">

  <div class="div-block">
    <div class="w-layout-grid grid">
      <div id="w-node-_018e64da-70a5-19c4-f57d-2c9fd790a49f-90d8165a" class="div-block-3">
        <div class="signup-top" style="margin-bottom: 60px">
          <h1 class="blue-heading">Welcome Back!</h1>
        </div>
        <div class="signup-form">
          <div class="w-form">
            <form name="login-form" data-name="Email Form" method="Post">
                <label for="University-6" class="form-title">Email Address</label>
                {{ form.username }}
                <label for="University-6" class="form-title">Password</label>

                {{ form.password }}



                    {% csrf_token %}
                  <button type="submit" value="Sign In" data-wait="Please wait..." class="submit-button w-button">

            </form>

          </div>
        </div>
        <div class="signup-logo" style="margin-top: 60px"><img src="images/Prosperon-Logo.png" loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 36vw, (max-width: 991px) 37vw, 40vw" srcset="images/Prosperon-Logo-p-500.png 500w, images/Prosperon-Logo-p-800.png 800w, images/Prosperon-Logo-p-1080.png 1080w, images/Prosperon-Logo-p-1600.png 1600w, images/Prosperon-Logo-p-2000.png 2000w, images/Prosperon-Logo-p-2600.png 2600w, images/Prosperon-Logo-p-3200.png 3200w, images/Prosperon-Logo.png 7428w" alt=""></div>
      </div>
      <div id="w-node-_97fc1075-edd7-c782-4bf8-6bfd2fb92257-90d8165a" class="login-wrapper login" style="padding-top: 150px">
        <div class="div-block-2">
          <h1 class="white-heading">Did you know the founders of ProsperOn have a little lizard named<br><br>King Howy III</h1>
        </div>
      </div>
    </div>
  </div>
</body>






{% endblock %}