{% extends 'MainWebsite/base.html' %}
{% load static %}

{% block content %}

<body class="body">

  <body class="body">

  <div class="div-block">
    <div class="w-layout-grid grid">
      <div id="w-node-_018e64da-70a5-19c4-f57d-2c9fd790a49f-f0f11a28" class="div-block-3">
        <div class="signup-top">
          <h1 class="blue-heading">I&#x27;m Signing Up For:</h1>
          <h1 class="subheader-signup">Select the product you&#x27;re interested in</h1>
        </div>
        <div class="signup-options">
          <div class="w-layout-grid grid-2">

            <a href="{% url 'Accounts:register-student' %}" style="text-decoration: none">
              <div id="w-node-_6c790590-31a3-82f9-1eb0-158626999b15-f0f11a28" class="signup-buttons">
              <div><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt=""></div>
              <h1 class="subheader">ProsperOn U</h1>
            </div>
            </a>

              <div id="w-node-_2f776d8c-0dcf-9121-b0f8-5fc1eefeaf88-f0f11a28" class="signup-buttons">
              <div><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt=""></div>
              <h1 class="subheader">ProsperOn Budget</h1>
            </div>

          </div>
        </div>
        <div class="signup-logo"><img src="images/Prosperon-Logo.png" loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 36vw, (max-width: 991px) 37vw, 40vw" srcset="images/Prosperon-Logo-p-500.png 500w, images/Prosperon-Logo-p-800.png 800w, images/Prosperon-Logo-p-1080.png 1080w, images/Prosperon-Logo-p-1600.png 1600w, images/Prosperon-Logo-p-2000.png 2000w, images/Prosperon-Logo-p-2600.png 2600w, images/Prosperon-Logo-p-3200.png 3200w, images/Prosperon-Logo.png 7428w" alt=""></div>
      </div>
      <div id="w-node-_97fc1075-edd7-c782-4bf8-6bfd2fb92257-f0f11a28" class="login-wrapper step-1">
        <div class="div-block-2">
          <h1 class="white-heading">Already Have an Account?</h1>
        </div>
        <div>
          <a href="#" class="back-btn w-button">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</body>




{% endblock %}