{% extends 'MainWebsite/base.html' %}
{% load static %}

{% block content %}

<body class="body">

  <div class="div-block">
    <div class="w-layout-grid grid">
      <div id="w-node-_018e64da-70a5-19c4-f57d-2c9fd790a49f-77605cd8" class="div-block-3">
        <div class="signup-top step2">
          <h1 class="blue-heading">Thank You for Being Here!</h1>
          <h1 class="subheader-signup">Fill out the form to continue signing up.</h1>
        </div>
        <div class="signup-form">
          <div class="form-block w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="post">
                {% csrf_token %}
                <label for="University-6" class="form-title">Class Code</label>
                <input type="text" class="text-field w-input" name="class_code" value="">
                <label for="University-6" class="form-title">Email Address</label>
                {{ form.email }}
                <label for="University-6" class="form-title">Password</label>
                {{ form.password }}
                <label for="University-6" class="form-title">Confirm Password</label>
                {{ form.password2 }}

              <div class="div-block-5"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox">I have read and accept ProsperOn&#x27;s Terms and Conditions</span></label><label class="w-checkbox checkbox-field"><input checked="checked" type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox-2">I would like to receive further information from ProsperOn</span></label></div>
              <div class="div-block-4"><input type="submit" value="Sign Up" data-wait="Please wait..." class="submit-button w-button"></div>
            </form>

            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="signup-logo step2"><img src="" loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 36vw, (max-width: 991px) 37vw, 40vw" srcset="images/Prosperon-Logo-p-500.png 500w, images/Prosperon-Logo-p-800.png 800w, images/Prosperon-Logo-p-1080.png 1080w, images/Prosperon-Logo-p-1600.png 1600w, images/Prosperon-Logo-p-2000.png 2000w, images/Prosperon-Logo-p-2600.png 2600w, images/Prosperon-Logo-p-3200.png 3200w, images/Prosperon-Logo.png 7428w" alt=""></div>
      </div>
      <div id="w-node-_97fc1075-edd7-c782-4bf8-6bfd2fb92257-77605cd8" class="login-wrapper">
        <div class="div-block-2">
          <h1 class="white-heading">Already have an account?</h1>
        </div>
        <div>
          <a href="#" class="back-btn w-button">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</body>




{% endblock %}