{% extends 'Students/base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body class="body-2">
  <div class="fullpage-wrapper">
    <div class="full-page-wrapper">
      <div class="section-container">
        <div class="page-title-blue anytime-decision">
          <h1 class="heading-4">{% block anytimeTitle %}{% endblock %}</h1>
        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="w-layout-grid grid-18">
        {% block anytimeD %}

        {% endblock %}
        <div id="w-node-c5a806e0-724a-5949-d988-9e528c3a62f9-e4f669d7">
          <div id="w-node-_6eb24419-a21f-45df-39ba-9617e303e0de-e4f669d7" class="_40-padding-container" style="padding-right: 20px; padding-left: 20px">
            <div class="horizontal">
              <div class="_18 anytimedecision">Financial Impact</div>
            </div>
            <div class="_10-top displayed">
              <div class="_18 semibold">Monthly Income</div>
            </div>
            <div class="_20-padding-container _10-top">

                <div>
                    <canvas id="myChart"></canvas>

                    <script>






                    const ctx = document.getElementById('myChart');

                      const chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                          labels: ['Year 1', 'Year 2', 'Year 3', 'Year 4', 'Year 5'],
                          datasets: [{
                            label: 'Net Worth with decision:',
                            data: [1,3,2,4,5],
                            pointRadius: 4,
                            pointBackgroundColor: 'white',
                            borderWidth: 1,
                            tension: 0.5,
                            fill: 1,
                            backgroundColor: '#1f79ba',


                          }, {
                            label: 'Net Worth without decision:',
                            data: [1,3,2,4,5],
                            borderWidth: 0,
                            tension: 0.5,
                            fill: 'origin',
                            below: 'rgb(255, 0, 0)',
                            pointRadius: 4,
                            pointBackgroundColor: '#fffff'
                          }
                          ]
                        },
                        options: {
                          scales: {
                            y: {
                              beginAtZero: true,
                              grid: {
                                  display: false
                              }
                            },
                            x: {
                                grid: {
                                    display: false
                                }
                            }
                          },
                          plugins: {
                            legend: {
                              display: false
                            }
                          }
                        }
                      });



                      function addDataWith(chart, label, data) {
                        chart.data.labels.push(label);
                        chart.data.datasets[0].data.push(data)
                        chart.update();
                    }

                    function addDataWithout(chart, data) {
                        chart.data.datasets[1].data.push(data)
                        chart.update();
                    }




                    function removeData(chart) {
                        chart.data.labels.pop();
                        chart.data.datasets.forEach((dataset) => {
                            dataset.data.pop();
                        });
                        chart.update();
                    }






                    </script>












                </div>


              </div>
              <div class="_10-top ad-graph-wrapper"></div>


            <div class="_18 semibold _10-top">General Information</div>
            <div class="_20-padding-container _10-top">
              <div class="_18-poppins">This anytime decision will cost $<span id="monthly-cost-description-target" style="font-weight: bold"></span> each year and in 5 years, this decision will affect your net worth by a total of $<span id="total-effect-on-netWorth" style="font-weight: bold"></span></div>
            </div>

            <form method="post">

                <div class="_20-top horizontal-spaced">
              <div class="ad-impact _30-padding white" style="padding: 20px">
                <div class="_18 semibold red-text">$<span id="effect-initial-cost">1,000</span></div>


                  <div class="_14px light">Cost Now</div>
              </div>
              <div class="ad-impact _30-padding white" style="padding: 20px">
                <div class="_18 semibold red-text">$<span id="effect-monthly-cost">120</span><span class="text-span">/month</span></div>


                  <div class="_14px light">Cost Later</div>

              </div>
              <div class="ad-impact _30-padding white" style="padding: 20px">
                <div class="_18 semibold red-text">$<span>1,000</span></div>
                <div class="_14px light">Effect on Surplus</div>
              </div>
            </div>
            </form>

          </div>
        </div>
      </div>
    </div>


<script>

function createGraph() {
    console.log('create graph')

    // removing previous data for chart
    removeData(chart)
    removeData(chart)
    removeData(chart)
    removeData(chart)
    removeData(chart)
    removeData(chart)


    // creating variables for student numbers
    var student_income = '{{ student_income }}'
    var monthlySpending = '{{ student_total_monthly_spending }}'
    var studentNetWorth = {{ student_current_net_worth }}




    // retreiving values
    var monthlyCostTarget = document.getElementById('effect-monthly-cost').innerText
    var signupFeeTarget = document.getElementById('effect-initial-cost').innerText

    // cleaning values
    var newMonthlyCostTarget = monthlyCostTarget.replace(",", "")
    var newSignupFeeTarget = signupFeeTarget.replace(",", "")

    // making values numbers and converting to monthly
    monthlySpending = Number(monthlySpending)
    var monthly_student_income = Number(student_income) / 12
    newMonthlyCostTarget = Number(newMonthlyCostTarget)
    signupFeeTarget = Number(newSignupFeeTarget)

    // Calculating final numbers
    var totalMonthlyExpenses = monthlySpending - newMonthlyCostTarget
    var yearlyNet = Number(student_income) + (totalMonthlyExpenses * 12)
    var startingAmount = studentNetWorth - signupFeeTarget
    var yearlyNetWithoutExpense = Number(student_income) + (monthlySpending * 12)


    // logic for general description
    var monthlyCostTargetDescription = document.getElementById('monthly-cost-description-target')
    monthlyCostTargetDescription.innerText = (newMonthlyCostTarget * 12).toLocaleString("en-US");
    var totalEffectOnNetWorth = document.getElementById('total-effect-on-netWorth')
    totalEffectOnNetWorth.innerText = ((yearlyNetWithoutExpense * 5) - (yearlyNet * 5) + signupFeeTarget).toLocaleString("en-US");


    // for handeling with
    var netIncomeList = []
    for(let i = 0; i <= 5; i++) {
        var num = (yearlyNet * i) + startingAmount
        netIncomeList.push(num)
        addDataWith(chart, 'year ' + i, num)
    }




    // for handeling without
    var netIncomeListWithout = []
    for(let i = 0; i <= 5; i++) {
        var numb = (yearlyNetWithoutExpense * i) + studentNetWorth
        netIncomeListWithout.push(numb)
        addDataWithout(chart, numb)

    }








}


var elements = document.getElementsByClassName('create-graph')
for(let i = 0; i < elements.length; i++) {
    elements[i].children[0].addEventListener('click', createGraph)
}















  </script>


    {% block bottomButtons %}

    {% endblock %}

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'students/js/anytime-decision-script.js' %}" type="text/javascript"></script>


{% endblock %}

