{% extends 'Students/base.html' %}
{% load static %}

{% block content %}


<body class="body-2">
  <div class="fullpage-wrapper">
    <div class="full-page-wrapper">
      <div class="section-container">
        <div class="page-title-blue anytime-decision">
          <h1 class="heading-4">{% block anytimeTitle %}{% endblock %}</h1>
        </div>
      </div>
    </div>
    <div class="grid-wrapper">
      <div class="w-layout-grid grid-18">
        {% block anytimeD %}

        {% endblock %}
        <div id="w-node-c5a806e0-724a-5949-d988-9e528c3a62f9-e4f669d7">
          <div id="w-node-_6eb24419-a21f-45df-39ba-9617e303e0de-e4f669d7" class="_40-padding-container" style="padding-right: 20px; padding-left: 20px">
            <div class="horizontal">
              <div class="_18 anytimedecision">Financial Impact</div>
            </div>
            <div class="_10-top displayed">
              <div class="_18 semibold">Monthly Income</div>
            </div>
            <div class="_20-padding-container _10-top">
              <div class="div-block-4">
                <div class="underline">
                  <h1 class="_14px semibold">With Decision</h1>
                </div>
                <div class="_60-left">
                  <h1 class="_14px semibold">With Decision</h1>
                </div>
              </div>
              <div class="_10-top ad-graph-wrapper"></div>
            </div>
            <div id="w-node-_6eb24419-a21f-45df-39ba-9617e303e0e3-e4f669d7" class="_10-top hidden">
              <div class="_14px">*Prior Information*</div>
            </div>
            <div class="_18 semibold _10-top">General Information</div>
            <div class="_20-padding-container _10-top">
              <div class="_18-poppins"><span>*anytime decision name*</span> will cost <span>*X*</span> right now and <span>*Y*</span> every <span>*Period*</span> after that. Your month surplus will <span>*increase/decrease*</span> by <span>*Z*</span> each month if you make this decision.</div>
            </div>
            <div class="_20-top horizontal-spaced">
              <div class="ad-impact _30-padding white" style="padding: 20px">
                <div class="_18 semibold red-text">$<span id="effect-initial-cost">1,000</span></div>
                <div class="_14px light">Cost Now</div>
              </div>
              <div class="ad-impact _30-padding white" style="padding: 20px">
                <div class="_18 semibold red-text">$<span id="effect-monthly-cost">120</span><span class="text-span">/month</span></div>
                <div class="_14px light">Cost Later</div>
              </div>
              <div class="ad-impact _30-padding white" style="padding: 20px">
                <div class="_18 semibold red-text">$<span>1,000</span></div>
                <div class="_14px light">Effect on Surplus</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {% block bottomButtons %}

    {% endblock %}

    </div>

</body>
<script src="{% static 'students/js/anytime-decision-script.js' %}" type="text/javascript"></script>
{% endblock %}

