{% extends 'Students/anytime-decisions/anytime_decision_step2.html' %}
{% load static %}

{% block anytimeTitle %}
    {{ ad.title }}
{% endblock %}

{% block anytimeD %}
{% if id == '3' %}

<body class="body-2">
  <div class="fullpage-wrapper">

    <div class="grid-wrapper">
      <div class="w-layout-grid grid-18">
        <div id="w-node-_1ec6b8d4-8954-2eda-b421-883a183f00b4-e4f669d7" class="blue-gradient">
          <div class="apartment-search _40-padding-container transparent">
            <div class="_18 semibold white">Welcome to Card World</div>
            <div class="search-area _20-top">
              <div class="_18-poppins padding">Dallas, TX</div>
            </div>
          </div>
          <div class="_40-padding-container white">
            <div class="w-layout-grid grid-22 credit-cards">
              <div id="w-node-_2ffeaa9a-f26b-9e6d-abaa-f434b28d58d0-e4f669d7" class="credit-card-display-wrapper">
                <div id="w-node-e644155f-9d67-bf7f-b00e-8606120590ad-e4f669d7" class="card-image-wrapper _50"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" height="125" alt="" class="image-2"></div>
                <div class="card-infor-wrapper _20-padding-container _60-top">
                  <div class="_18-poppins semibold"><span>*Banks Name*</span></div>
                  <div class="_14-poppins">Required Credit Score: <span>###</span></div>
                  <div class="_10-top centered-text">
                    <a href="#" class="apply-now w-button">Apply Now</a>
                  </div>
                  <div class="_10-top credit-card-info">
                    <div class="horizontal">
                      <div class="_18-poppins">Previous Devisions</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-a5d6b3dc-ec36-6be5-9d9e-63c9620a52d3-e4f669d7" alt="">
                    </div>
                    <div class="hidden">
                      <div id="w-node-a5d6b3dc-ec36-6be5-9d9e-63c9620a52d4-e4f669d7" class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                      <div class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                      <div class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                    </div>
                  </div>
                  <div class="_10-top credit-card-info">
                    <div class="horizontal">
                      <div class="_18-poppins">Card Details</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-eaceb516-cd11-ce12-f140-6dbeeff920c3-e4f669d7" alt="">
                    </div>
                    <div class="hidden">
                      <div id="w-node-eaceb516-cd11-ce12-f140-6dbeeff920c4-e4f669d7" class="_10-top card-info strethced">
                        <div class="_14px semibold">APR:</div>
                        <div class="_18-poppins"><span>*##*</span>% APR</div>
                      </div>
                      <div class="_10-top card-info strethced">
                        <div class="_14px semibold">Annual Fee:</div>
                        <div class="_18-poppins"><span>$*##*</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="w-node-af91762a-a208-81d4-d879-be7365c4a4d7-e4f669d7" class="credit-card-display-wrapper">
                <div id="w-node-af91762a-a208-81d4-d879-be7365c4a4d8-e4f669d7" class="card-image-wrapper _50"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" height="125" alt="" class="image-2"></div>
                <div class="card-infor-wrapper _20-padding-container _60-top">
                  <div class="_18-poppins semibold"><span>*Banks Name*</span></div>
                  <div class="_14-poppins">Required Credit Score: <span>###</span></div>
                  <div class="_10-top centered-text">
                    <a href="#" class="apply-now w-button">Apply Now</a>
                  </div>
                  <div class="_10-top credit-card-info">
                    <div class="horizontal">
                      <div class="_18-poppins">Previous Devisions</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-af91762a-a208-81d4-d879-be7365c4a4ea-e4f669d7" alt="">
                    </div>
                    <div class="hidden">
                      <div id="w-node-af91762a-a208-81d4-d879-be7365c4a4ec-e4f669d7" class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                      <div class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                      <div class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                    </div>
                  </div>
                  <div class="_10-top credit-card-info">
                    <div class="horizontal">
                      <div class="_18-poppins">Card Details</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-af91762a-a208-81d4-d879-be7365c4a4fc-e4f669d7" alt="">
                    </div>
                    <div class="hidden">
                      <div id="w-node-af91762a-a208-81d4-d879-be7365c4a4fe-e4f669d7" class="_10-top card-info strethced">
                        <div class="_14px semibold">APR:</div>
                        <div class="_18-poppins"><span>*##*</span>% APR</div>
                      </div>
                      <div class="_10-top card-info strethced">
                        <div class="_14px semibold">Annual Fee:</div>
                        <div class="_18-poppins"><span>$*##*</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="w-node-_58d582ca-fdea-534d-f49e-c8a5f67ea10c-e4f669d7" class="credit-card-display-wrapper">
                <div id="w-node-_58d582ca-fdea-534d-f49e-c8a5f67ea10d-e4f669d7" class="card-image-wrapper _50"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" height="125" alt="" class="image-2"></div>
                <div class="card-infor-wrapper _20-padding-container _60-top">
                  <div class="_18-poppins semibold"><span>*Banks Name*</span></div>
                  <div class="_14-poppins">Required Credit Score: <span>###</span></div>
                  <div class="_10-top centered-text">
                    <a href="#" class="apply-now w-button">Apply Now</a>
                  </div>
                  <div class="_10-top credit-card-info">
                    <div class="horizontal">
                      <div class="_18-poppins">Previous Devisions</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-_58d582ca-fdea-534d-f49e-c8a5f67ea11f-e4f669d7" alt="">
                    </div>
                    <div class="hidden">
                      <div id="w-node-_58d582ca-fdea-534d-f49e-c8a5f67ea121-e4f669d7" class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                      <div class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                      <div class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                    </div>
                  </div>
                  <div class="_10-top credit-card-info">
                    <div class="horizontal">
                      <div class="_18-poppins">Card Details</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-_58d582ca-fdea-534d-f49e-c8a5f67ea131-e4f669d7" alt="">
                    </div>
                    <div class="hidden">
                      <div id="w-node-_58d582ca-fdea-534d-f49e-c8a5f67ea133-e4f669d7" class="_10-top card-info strethced">
                        <div class="_14px semibold">APR:</div>
                        <div class="_18-poppins"><span>*##*</span>% APR</div>
                      </div>
                      <div class="_10-top card-info strethced">
                        <div class="_14px semibold">Annual Fee:</div>
                        <div class="_18-poppins"><span>$*##*</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="w-node-_834ed2d2-1970-efe9-4c82-9ce5177aab7e-e4f669d7" class="credit-card-display-wrapper">
                <div id="w-node-_834ed2d2-1970-efe9-4c82-9ce5177aab7f-e4f669d7" class="card-image-wrapper _50"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" height="125" alt="" class="image-2"></div>
                <div class="card-infor-wrapper _20-padding-container _60-top">
                  <div class="_18-poppins semibold"><span>*Banks Name*</span></div>
                  <div class="_14-poppins">Required Credit Score: <span>###</span></div>
                  <div class="_10-top centered-text">
                    <a href="#" class="apply-now w-button">Apply Now</a>
                  </div>
                  <div class="_10-top credit-card-info">
                    <div class="horizontal">
                      <div class="_18-poppins">Previous Devisions</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-_834ed2d2-1970-efe9-4c82-9ce5177aab91-e4f669d7" alt="">
                    </div>
                    <div class="hidden">
                      <div id="w-node-_834ed2d2-1970-efe9-4c82-9ce5177aab93-e4f669d7" class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                      <div class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                      <div class="_10-top card-info">
                        <div class="div-block-5"></div>
                        <div class="_14px _10-left">*Card Info*</div>
                      </div>
                    </div>
                  </div>
                  <div class="_10-top credit-card-info">
                    <div class="horizontal">
                      <div class="_18-poppins">Card Details</div><img src="images/Drowdown.svg" loading="lazy" id="w-node-_834ed2d2-1970-efe9-4c82-9ce5177aaba3-e4f669d7" alt="">
                    </div>
                    <div class="hidden">
                      <div id="w-node-_834ed2d2-1970-efe9-4c82-9ce5177aaba5-e4f669d7" class="_10-top card-info strethced">
                        <div class="_14px semibold">APR:</div>
                        <div class="_18-poppins"><span>*##*</span>% APR</div>
                      </div>
                      <div class="_10-top card-info strethced">
                        <div class="_14px semibold">Annual Fee:</div>
                        <div class="_18-poppins"><span>$*##*</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-c5a806e0-724a-5949-d988-9e528c3a62f9-e4f669d7">
          <div id="w-node-_6eb24419-a21f-45df-39ba-9617e303e0de-e4f669d7" class="_40-padding-container">
            <div class="horizontal">
              <div class="_18 anytimedecision">Financial Impact</div>
            </div>
            <div class="_10-top displayed">
              <div class="_18 semibold">Monthly Income</div>
            </div>
            <div class="_20-padding-container _10-top">
              <div class="div-block-4">
                <div class="underline">
                  <h1 class="_14px semibold">With Decision</h1>
                </div>
                <div class="_60-left">
                  <h1 class="_14px semibold">With Decision</h1>
                </div>
              </div>
              <div class="_10-top ad-graph-wrapper"></div>
            </div>
            <div id="w-node-_6eb24419-a21f-45df-39ba-9617e303e0e3-e4f669d7" class="_10-top hidden">
              <div class="_14px">*Prior Information*</div>
            </div>
            <div class="_18 semibold _10-top">General Information</div>
            <div class="_20-padding-container _10-top">
              <div class="_18-poppins"><span>*anytime decision name*</span> will cost <span>*X*</span> right now and <span>*Y*</span> every <span>*Period*</span> after that. Your month surplus will <span>*increase/decrease*</span> by <span>*Z*</span> each month if you make this decision.</div>
            </div>
            <div class="_20-top horizontal-spaced">
              <div class="ad-impact _30-padding white">
                <div class="_18 semibold red-text">$<span>1,000</span></div>
                <div class="_14px light">Cost Now</div>
              </div>
              <div class="ad-impact _30-padding white">
                <div class="_18 semibold red-text">$<span>120</span><span class="text-span">/month</span></div>
                <div class="_14px light">Cost Later</div>
              </div>
              <div class="ad-impact _30-padding white">
                <div class="_18 semibold red-text">$<span>1,000</span></div>
                <div class="_14px light">Effect on Surplus</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button-wrapper bottom-spacing">
      <div class="button">
        <div class="button-text">Back</div>
      </div>
      <div class="button next">
        <div class="button-text next">Next</div>
      </div>
    </div>
  </div>
</body>
{% endif %}
{% endblock %}

    {% block bottomButtons %}
        {% if id == '3' %}
        <div class="button-wrapper bottom-spacing">
            <div class="button">
                <div class="button-text">Back</div>
            </div>
            <form method="post">
                {% csrf_token %}
                    <button type="submit" class="next-btn">Next</button>
            </form>
        </div>
        {% endif %}
    {% endblock %}