{% extends 'Students/anytime-decisions/anytime_decision_step2.html' %}
{% load static %}


{% block anytimeTitle %}
    {{ ad.title }}
{% endblock %}

{% block anytimeD %}
{% if id == '3' %}



    <div class="grid-wrapper" style="padding: 0px; padding-right: 10px">

        <div id="all-credit-card-wrapper" class="blue-gradient" style="display: block;">

          <div class="_40-padding-container white">
            <div class="w-layout-grid grid-22 credit-cards" style="justify-items: stretch">

                {% for card in credit_cards %}
                <div id="w-node-_2ffeaa9a-f26b-9e6d-abaa-f434b28d58d0-e4f669d7" class="credit-card-display-wrapper">
                <div id="w-node-e644155f-9d67-bf7f-b00e-8606120590ad-e4f669d7" class="card-image-wrapper _50">
                    <img src="../../../media/{{ card.img }}" loading="lazy" height="100px" width="200px" alt="" class="image-2" style="height: 100px; width: 150px"></div>
                <div class="card-infor-wrapper _20-padding-container _60-top" style="width: 100%; min-height: 250px; justify-content: space-between">
                  <div class="_18-poppins semibold" style="font-size: 18px;text-align: center"><span>{{ card.title }}</span></div>
                  <div class="_14-poppins" style="width: 100%; text-align: center">Required Credit Score: <span>{{ card.score }}</span></div>
                  <div class="_10-top centered-text">
                    <div class="create-graph">
                      <button  class="next-btn" style="width: auto" onclick="showCreditCard('{{ card.title }}', '{{ card.apr }}', '{{ card.yearlyFee }}', '{{ card.atmFee }}', '{{ card.credit_card_descrption }}', '{{ card.feature1 }}', '{{ card.feature2 }}', '{{ card.feature3 }}', '{{ card.feature4 }}', '{{ card.signup_fee }}', '{{ card.img }}')">Learn More</button>
                    </div>
                    </div>
                </div>
              </div>
            {% endfor %}

            </div>
          </div>
        </div>




        <div id="creditCardPopUp" class="w-node-_1ec6b8d4-8954-2eda-b421-883a183f00b4-fbe61579" style="display: none;">
          <div class="_40-padding-container white percent-change">
            <div class="_20-bottom">
              <h1 class="_24px-2 semibold _20-left" id="credit-card-name">Bank Name</h1>
              <div><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" style="height: 100px; width: 150px" loading="lazy" alt="" id="credit-card-img"></div>
            </div>
            <div>
              <div>
                <h1 class="_18 semibold centered-text">General Information</h1>
              </div>
              <div class="_10-top horizontal">
                <div class="w-layout-grid grid-23" style="grid-template-columns: 1.75fr 1.75fr 1.75fr">
                  <div id="w-node-_2ebce160-23b2-b95f-bbfd-fc591c3e4565-fbe61579" class="apartment-info-wrapper _10-padding">
                    <div id="w-node-_40e944fe-9d38-2d22-134b-6fdf53d9f49e-fbe61579" class="apartment-breakdown-titles">Intro APR</div>
                    <div class="apartment-breakdown-titles _5-top"><span id="apr">1.1</span></div>
                  </div>
                  <div id="w-node-_531aa455-c1e7-ed2b-77cb-d34227f74879-fbe61579" class="apartment-info-wrapper _10-padding">
                    <div id="w-node-_531aa455-c1e7-ed2b-77cb-d34227f7487a-fbe61579" class="apartment-breakdown-titles">Yearly Fee</div>
                    <div class="apartment-breakdown-titles _5-top"><span>$</span><span id="yearlyFee">0</span></div>
                  </div>
                  <div id="w-node-_95a3d334-08e8-3b91-27ae-0873f863c421-fbe61579" class="apartment-info-wrapper _10-padding">
                    <div id="w-node-_95a3d334-08e8-3b91-27ae-0873f863c422-fbe61579" class="apartment-breakdown-titles">ATM Fee</div>
                    <div class="apartment-breakdown-titles _5-top"><span>$</span><span id="atmFee">2.50</span></div>
                  </div>
                </div>
              </div>
              <div class="description _10-top">
                <h1 class="_18 semibold">Description<span></span></h1>
                <div class="_18-poppins _5-top" id="creditCardDescription">&quot;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa </div>

              </div>
            </div>
             <h1 class="_18 semibold _10-top" style="margin-bottom: 0px">Features<span></span></h1>
              <div class="_10-top horizontal">

              <div class="div-block-136"></div>
              <div class="_18-poppins _10-left semibold">Feature 1:</div>
              <div class="_18-poppins _10-left" id="feature1">feature 1</div>
            </div>
            <div class="_10-top horizontal">
              <div class="div-block-136"></div>
              <div class="_18-poppins _10-left semibold">Feature 2:</div>
              <div class="_18-poppins _10-left" id="feature2">feature 2</div>
            </div>
            <div class="_10-top horizontal">
              <div class="div-block-136"></div>
              <div class="_18-poppins _10-left semibold">Feature 3:</div>
              <div class="_18-poppins _10-left" id="feature3">feature 3</div>
            </div>
            <div class="_10-top horizontal">
              <div class="div-block-136"></div>
              <div class="_18-poppins _10-left semibold">Feature 4:</div>
              <div class="_18-poppins _10-left" id="feature4">feature 4</div>
            </div>
            <div class="button-wrapper bottom-spacing listing">
              <div class="back-btn" onclick="backToCards()" style="cursor: pointer; width: auto">
                <div class="" onclick="backToCards()" style="width: auto">Back to cards</div>
              </div>

            </div>
          </div>
        </div>


        </div>






{% endif %}
{% endblock %}

    {% block bottomButtons %}
        {% if id == '3' %}
        <div class="button-wrapper bottom-spacing">
            <a href="/{{ ad.back_btn_link }}" style="text-decoration: none">
            <div class="back-btn" id="backBtn">
                <div class="" id="backBtn" >Back</div>
            </div>
            </a>
            <form method="post">
                {% csrf_token %}
                <input type="hidden"  id="effect-cost-now-input" name="cost-now" value="1">
                <input type="hidden"  id="effect-monthly-cost-input" name="cost-later" value="2">
                <input type="hidden"  id="anytime-transaction-title" name="transactiontitle" value="Credit Card Payment">

                    <button type="submit" id="applyBtn" class="next-btn" style="display: none;">Apply</button>
            </form>
        </div>
        {% endif %}
    {% endblock %}