{% extends 'Students/anytime-decisions/anytime_decision_step2.html' %}
{% load static %}

{% block anytimeTitle %}
    {{ ad.title }}
{% endblock %}

{% block anytimeD %}
{% if id == '2' %}

 <body class="body-2">
  <div class="fullpage-wrapper">


        <div id="w-node-_1ec6b8d4-8954-2eda-b421-883a183f00b4-deff392a" class="bank-accounts _40-padding-container">
          <div class="_40-bottom">
            <h1 class="_36-bold light">Compare the best starter checking accounts in the <span class="text-span-2">&quot;United States&quot;</span></h1>
          </div>
          <div class="_30-top">
            <div class="w-layout-grid bank-accounts-grid">
              <div class="bank-account-wrapper top" style="justify-items: center">
                <div class="div-block-131">
                  <div class="div-block-135" style="width: 300px; display: flex">
                   <div>
                    <div class="div-block-129 credit"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="80" alt=""></div>
                   </div>
                      <div style="display: flex; align-items: center">
                      <h4 class="heading-34" style="width: 200px; font-size: 18px">Something Credit Union</h4>
                      </div>
                  </div>
                </div>

                <div class="div-block-128" style="width: 150px" s>
                  <div class="text-block-5">Show Details</div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>


</body>


{% endif %}
{% endblock %}

    {% block bottomButtons %}
        {% if id == '2' %}
        <div class="button-wrapper bottom-spacing">
            <a href="/{{ ad.back_btn_link }}">
            <div class="button" id="backBtn">
                <div class="button-text" id="backBtn">Back</div>
            </div>
            </a>
            <form method="post">
                {% csrf_token %}
                    <button type="submit" class="next-btn">Next</button>
            </form>
        </div>
        {% endif %}
    {% endblock %}