{% extends 'Students/anytime-decisions/anytime_decision_step2.html' %}
{% load static %}

{% block anytimeTitle %}
    {{ ad.title }}
{% endblock %}

{% block anytimeD %}
{% if id == '2' %}

 <body class="body-2">
  <div class="fullpage-wrapper">


        <div id="w-node-_1ec6b8d4-8954-2eda-b421-883a183f00b4-deff392a" class="bank-accounts _40-padding-container">
          <div class="_40-bottom">
            <h1 class="_36-bold light">Compare the best starter checking accounts in the <span class="text-span-2">&quot;United States&quot;</span></h1>
          </div>
          <div class="_30-top">
            <div class="w-layout-grid bank-accounts-grid">
              <div class="bank-account-wrapper top" style="justify-items: center">
                <div class="div-block-131">
                  <div class="div-block-135" style="width: 300px; display: flex">
                   <div>
                    <div class="div-block-129 credit"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="80" alt=""></div>
                   </div>
                      <div style="display: flex; align-items: center">
                      <h4 class="heading-34" style="width: 200px; font-size: 18px">Something Credit Union</h4>
                      </div>
                  </div>
                </div>

                <div class="div-block-128" style="width: 150px; margin-top: 0px">
                  <div class="text-block-5" onclick="showBankAccount()">Show Details</div>
                </div>
              </div>

            </div>
          </div>
        </div>

<div id="creditCardPopUp" class="w-node-_1ec6b8d4-8954-2eda-b421-883a183f00b4-fbe61579" style="display: none;">
          <div class="_40-padding-container white percent-change">
            <div class="_20-bottom">
              <h1 class="_24px-2 semibold _20-left" id="bank-account-name">Bank Name</h1>
              <div><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt=""></div>
            </div>
            <div>
              <div>
                <h1 class="_18 semibold centered-text">General Information</h1>
              </div>
              <div class="_10-top horizontal">
                <div class="w-layout-grid grid-23">
                  <div id="w-node-_2ebce160-23b2-b95f-bbfd-fc591c3e4565-fbe61579" class="apartment-info-wrapper _10-padding">
                    <div id="w-node-_40e944fe-9d38-2d22-134b-6fdf53d9f49e-fbe61579" class="apartment-breakdown-titles">APY</div>
                    <div class="apartment-breakdown-titles _5-top"><span id="apy">1.1</span>%</div>
                  </div>
                  <div id="w-node-_531aa455-c1e7-ed2b-77cb-d34227f74879-fbe61579" class="apartment-info-wrapper _10-padding">
                    <div id="w-node-_531aa455-c1e7-ed2b-77cb-d34227f7487a-fbe61579" class="apartment-breakdown-titles">Yearly Fee</div>
                    <div class="apartment-breakdown-titles _5-top"><span>$</span><span id="bankYearlyFee">0</span></div>
                  </div>
                  <div id="w-node-_95a3d334-08e8-3b91-27ae-0873f863c421-fbe61579" class="apartment-info-wrapper _10-padding">
                    <div id="w-node-_95a3d334-08e8-3b91-27ae-0873f863c422-fbe61579" class="apartment-breakdown-titles">ATM Fee</div>
                    <div class="apartment-breakdown-titles _5-top"><span>$</span><span id="BankAtmFee">2.50</span></div>
                  </div>
                </div>
              </div>
              <div class="description _10-top">
                <h1 class="_18 semibold">Description<span></span></h1>
                <div class="_18-poppins _5-top" id="bankAccountDescription">&quot;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa </div>

              </div>
            </div>
             <h1 class="_18 semibold _10-top" style="margin-bottom: 0px">Features<span></span></h1>
              <div class="_10-top horizontal">

              <div class="div-block-136"></div>
              <div class="_18-poppins _10-left semibold">Feature 1:</div>
              <div class="_18-poppins _10-left" id="bankFeature1">feature 1</div>
            </div>
            <div class="_10-top horizontal">
              <div class="div-block-136"></div>
              <div class="_18-poppins _10-left semibold">Feature 2:</div>
              <div class="_18-poppins _10-left" id="bankFeature2">feature 2</div>
            </div>
            <div class="_10-top horizontal">
              <div class="div-block-136"></div>
              <div class="_18-poppins _10-left semibold">Feature 3:</div>
              <div class="_18-poppins _10-left" id="bankFeature3">feature 3</div>
            </div>
            <div class="_10-top horizontal">
              <div class="div-block-136"></div>
              <div class="_18-poppins _10-left semibold">Feature 4:</div>
              <div class="_18-poppins _10-left" id="bankFeature4">feature 4</div>
            </div>
            <div class="button-wrapper bottom-spacing listing">
              <div class="back-btn" onclick="backToCards()" style="cursor: pointer; width: auto">
                <div class="" onclick="backToCards()" style="width: auto">Back to cards</div>
              </div>

            </div>
          </div>
        </div>
      </div>


</body>


{% endif %}
{% endblock %}

    {% block bottomButtons %}
        {% if id == '2' %}
        <div class="button-wrapper bottom-spacing">
            <a href="/{{ ad.back_btn_link }}">
            <div class="button" id="backBtn">
                <div class="button-text" id="backBtn">Back</div>
            </div>
            </a>
            <form method="post">
                {% csrf_token %}
                    <button type="submit" class="next-btn">Next</button>
            </form>
        </div>
        {% endif %}
    {% endblock %}