{% extends 'MainWebsite/base.html' %}
{% load static %}
{% block content %}
<body>
  <div class="brix---container-default-3 w-container">
    <div data-w-id="dc11f4a3-f98d-2b4a-cdd3-2110f7ff753f"  class="brix---inner-container-600px---center">
      <div class="brix---text-center">
        <div class="brix---color-neutral-802">
          <h1 class="brix---heading-h1-size-2 _10-bottom">Join our Pilot Program!</h1>
        </div>
        <div class="brix---mg-bottom-40px pilot-page">
          <div class="brix---color-neutral-801">
            <p class="brix---paragraph-default-3">Be the change you want to see in the world by signing your class up for the ProsperOn Pilot Program</p>
          </div>
        </div>
      </div>
    </div>
    <div class="uui-navbar01_button-wrapper pilot-page-header">
      <a href="{% url 'Accounts:registration-choice' %}" class="uui-button w-inline-block">
        <div class="text-block-81">Try Our product Today!</div>
      </a>
    </div>
    <div data-w-id="dc11f4a3-f98d-2b4a-cdd3-2110f7ff754c" class="w-layout-grid brix---grid-3-icon-list">
      <div class="brix---icon-list-item-wrapper">
        <div class="uui-icon-1x1-xsmall-3 check w-embed"><svg width="currentWidth" height="currentHeight" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 14C0 6.26801 6.26801 0 14 0V0C21.732 0 28 6.26801 28 14V14C28 21.732 21.732 28 14 28V28C6.26801 28 0 21.732 0 14V14Z" fill="#d1ecff"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9457 8.62169L11.5923 16.6834L9.37568 14.315C8.96734 13.93 8.32568 13.9067 7.85901 14.2334C7.40401 14.5717 7.27568 15.1667 7.55568 15.645L10.1807 19.915C10.4373 20.3117 10.8807 20.5567 11.3823 20.5567C11.8607 20.5567 12.3157 20.3117 12.5723 19.915C12.9923 19.3667 21.0073 9.81169 21.0073 9.81169C22.0573 8.73836 20.7857 7.79336 19.9457 8.61002V8.62169Z" fill="#1f79ba"></path>
          </svg></div>
        <div class="brix---color-neutral-802">
          <div class="brix---text-200-list-bold">Runtime: 30-40 minutes</div>
        </div>
      </div>
      <div class="brix---icon-list-item-wrapper">
        <div class="uui-icon-1x1-xsmall-3 check w-embed"><svg width="currentWidth" height="currentHeight" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 14C0 6.26801 6.26801 0 14 0V0C21.732 0 28 6.26801 28 14V14C28 21.732 21.732 28 14 28V28C6.26801 28 0 21.732 0 14V14Z" fill="#d1ecff"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9457 8.62169L11.5923 16.6834L9.37568 14.315C8.96734 13.93 8.32568 13.9067 7.85901 14.2334C7.40401 14.5717 7.27568 15.1667 7.55568 15.645L10.1807 19.915C10.4373 20.3117 10.8807 20.5567 11.3823 20.5567C11.8607 20.5567 12.3157 20.3117 12.5723 19.915C12.9923 19.3667 21.0073 9.81169 21.0073 9.81169C22.0573 8.73836 20.7857 7.79336 19.9457 8.61002V8.62169Z" fill="#1f79ba"></path>
          </svg></div>
        <div class="brix---color-neutral-802">
          <div class="brix---text-200-list-bold">10+ Anytime Decisions</div>
        </div>
      </div>
      <div class="brix---icon-list-item-wrapper">
        <div class="uui-icon-1x1-xsmall-3 check w-embed"><svg width="currentWidth" height="currentHeight" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 14C0 6.26801 6.26801 0 14 0V0C21.732 0 28 6.26801 28 14V14C28 21.732 21.732 28 14 28V28C6.26801 28 0 21.732 0 14V14Z" fill="#d1ecff"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9457 8.62169L11.5923 16.6834L9.37568 14.315C8.96734 13.93 8.32568 13.9067 7.85901 14.2334C7.40401 14.5717 7.27568 15.1667 7.55568 15.645L10.1807 19.915C10.4373 20.3117 10.8807 20.5567 11.3823 20.5567C11.8607 20.5567 12.3157 20.3117 12.5723 19.915C12.9923 19.3667 21.0073 9.81169 21.0073 9.81169C22.0573 8.73836 20.7857 7.79336 19.9457 8.61002V8.62169Z" fill="#1f79ba"></path>
          </svg></div>
        <div class="brix---color-neutral-802">
          <div class="brix---text-200-list-bold">Simulate until 65</div>
        </div>
      </div>
    </div>
  </div>
  <div class="avatarkit-grid-two-row">
    <div class="avatarkit-content-width-left">
      <div class="avatarkit-mg-20px-bottom">
        <h3 class="avatarkit-large-header">What is our pilot program?</h3>
      </div>
      <div class="avatarkit-mg-20px-bottom no-spcae">
        <p class="avatarkit-left-text-copy">ProsperOn is building a platform that leverages simulation, gamification, and personalized storylines to teach students financial decision making. The pilot program is a small scale launch of the product, and allows students to provide impactful feedback to our team, while learning valuable skills. </p>
      </div>
      <div class="uui-navbar01_button-wrapper pilot-page-header left-align"></div>
      <div class="uui-navbar01_button-wrapper qualifications">
        <a href="https://zcal.co/tonycerce/intro" class="uui-button w-inline-block">
          <div class="text-block-81 _14px-button">Schedule an Intro Meeting</div>
        </a>
      </div>
    </div>
    <div class="avatarkit-width-small-card">
      <div class="avatarkit-accordion-card">
        <div class="avatarkit-accordion-head">
          <div class="avatarkit-flex-toggle">
            <div class="avatarkit-mg-10px-right">
              <div class="avatarkit-avatar-image"><img src="{% static 'main-website/images/tactics-p-500.png' %}" loading="lazy" title="Strategy icons created by prettycons - Flaticon" sizes="(max-width: 767px) 25px, 40px" srcset="{% static 'main-website/images/tactics-p-500.png' %} 500w, {% static 'main-website/images/tactics-p-500.png' %} 512w" alt="" class="image-53"></div>
            </div>
            <h4 class="avatarkit-toggle-heading">Life Events</h4>
          </div>
          <div class="avatarkit-toggle-plus">
            <div class="avatarkit-horizontal-line"></div>
            <div class="avatarkit-vertical-line"></div>
          </div>
        </div>
        <div data-ix="new-interaction" class="avatarkit-accordion-content-wrap">
          <div class="avatarkit-accordion-content">
            <p class="avatarkit-left-text-copy"><span class="text-span-7">Full Modules (4-6 steps; 2-5 videos)</span><br>Life Events are the non negotiable aspects of life such as making money, paying taxes, and more. <br><br>Pilot Life Events <br>1) Get your First Job<br>2) Build a Budget </p>
          </div>
        </div>
      </div>
      <div class="avatarkit-accordion-card">
        <div class="avatarkit-accordion-head">
          <div class="avatarkit-flex-toggle">
            <div class="avatarkit-mg-10px-right">
              <div class="avatarkit-avatar-image"><img src="{% static 'main-website/images/lightbulb.png' %}" loading="lazy" width="40" title="Idea icons created by Good Ware - Flaticon" alt="" class="image-56"></div>
            </div>
            <h4 class="avatarkit-toggle-heading"><strong class="bold-text">Anytime Decisions</strong></h4>
          </div>
          <div class="avatarkit-toggle-plus">
            <div class="avatarkit-horizontal-line"></div>
            <div class="avatarkit-vertical-line"></div>
          </div>
        </div>
        <div data-ix="new-interaction" class="avatarkit-accordion-content-wrap">
          <div class="avatarkit-accordion-content">
            <p class="avatarkit-left-text-copy"><span class="text-span-7">Mini Modules (1-2 steps; 1-2 videos) </span><br>Decisions you can make anytime throughout the simulation such as going on vacation and getting married.<br><br>Pilot Anytime Decisions<br>1) Manage your Credit Cards<br>2) Manage your Bank Accounts<br>3) Move out</p>
          </div>
        </div>
      </div>
      <div class="avatarkit-accordion-card">
        <div class="avatarkit-accordion-head">
          <div class="avatarkit-flex-toggle">
            <div class="avatarkit-mg-10px-right">
              <div class="avatarkit-avatar-image"><img src="{% static 'main-website/images/video-folder.png' %}" loading="lazy" width="40" title="Video folder icons created by Freepik - Flaticon" alt="" class="image-56"></div>
            </div>
            <h4 class="avatarkit-toggle-heading">Scenarios</h4>
          </div>
          <div class="avatarkit-toggle-plus">
            <div class="avatarkit-horizontal-line"></div>
            <div class="avatarkit-vertical-line"></div>
          </div>
        </div>
        <div data-ix="new-interaction" class="avatarkit-accordion-content-wrap">
          <div class="avatarkit-accordion-content">
            <p class="avatarkit-left-text-copy"><span class="text-span-7">Pop Up Decisions (1 step, 0-1 videos) </span><br>Scenarios represent random decisions you have to make in life such being asked to dinner or replacing a broken item. These are variables based on the students interests and past decisions. <br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-19 pilot-program wf-section">
    <div class="div-block-213">
      <h2 class="heading-55">How it works</h2>
    </div>
    <section class="uui-section_layout70">
      <div class="uui-page-padding">
        <div class="uui-container-large">
          <div class="uui-padding-vertical-xhuge">
            <div class="w-layout-grid uui-layout70_component">
              <div class="uui-layout70_item white">
                <div class="w-layout-grid grid-29">
                  <div class="uui-layout70_image-wrapper"><img src="{% static 'main-website/images/Teachers.jpg' %}" loading="lazy" sizes="(max-width: 479px) 120px, (max-width: 767px) 19vw, (max-width: 991px) 22vw, 280px" srcset="{% static 'main-website/images/Teachers.jpg' %} 500w, {% static 'main-website/images/Teachers.jpg' %} 800w, {% static 'main-website/images/Teachers.jpg' %} 1080w, {% static 'main-website/images/Teachers.jpg' %} 1600w, {% static 'main-website/images/Teachers.jpg' %} 1680w" alt="Mockup" class="uui-layout70_image works pilot-page"></div>
                  <div>
                    <h3 class="uui-heading-xxsmall title">Step 1: Sign Up</h3>
                    <div class="uui-text-size-medium sub">Sign up your classes in under 5 minutes! Let us know when, where, and how you&#x27;d like to run the pilot and we&#x27;ll take care of the rest! </div>
                  </div>
                </div>
              </div>
              <div class="uui-layout70_item white">
                <div class="w-layout-grid grid-29">
                  <div id="w-node-_41ae635d-67e8-3db7-83e4-21184113512a-473db6c9" class="uui-layout70_image-wrapper"><img src="{% static 'main-website/images/classroom.jpg' %}" loading="lazy" sizes="(max-width: 479px) 120px, (max-width: 767px) 19vw, (max-width: 991px) 22vw, 300px" srcset="{% static 'main-website/images/classroom.jpg' %} 500w, {% static 'main-website/images/classroom.jpg' %} 500w" alt="Mockup" class="uui-layout70_image works pilot-page"></div>
                  <div id="w-node-_41ae635d-67e8-3db7-83e4-21184113512c-473db6c9" class="div-block-226">
                    <h3 class="uui-heading-xxsmall title">Step 2: Deliver</h3>
                    <div class="uui-text-size-medium sub">Once signed up, we&#x27;ll send you a confirmation email and detailed &quot;game day&quot; instructions. All you have to do is send our link to your class! </div>
                  </div>
                </div>
              </div>
              <div class="uui-layout70_item white">
                <div class="w-layout-grid grid-29">
                  <div class="uui-layout70_image-wrapper"><img src="{% static 'main-website/images/Student-Success.jpg' %}" loading="lazy" sizes="(max-width: 479px) 120px, (max-width: 767px) 19vw, (max-width: 991px) 22vw, 280px" srcset="{% static 'main-website/images/Student-Success.jpg' %} 500w, {% static 'main-website/images/Student-Success.jpg' %} 500w" alt="Mockup" class="uui-layout70_image works pilot-page"></div>
                  <div>
                    <h3 class="uui-heading-xxsmall title">Step 3: Feedback</h3>
                    <div class="uui-text-size-medium sub">After your students finish the 30-40 minute pilot, you&#x27;ll receive an email with a PDF of your class results and a link to a 2 minute professor exit survey.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uui-button-row-2 button-row-center">
        <a data-w-id="41ae635d-67e8-3db7-83e4-21184113513b" href="" class="uui-button-link-2 w-inline-block"></a>
      </div>
    </section>
    <div class="uui-navbar01_button-wrapper pilot-page-header">
      <a href="{% url 'Accounts:registration-choice' %}" class="uui-button w-inline-block">
        <div class="text-block-81 _14px-button">Sign Up Today</div>
      </a>
    </div>
  </div>
  <div class="_60-padding wf-section">
    <section class="uui-section_layout08">
      <div class="uui-page-padding-3">
        <div class="uui-container-large">
          <div class="uui-padding-vertical-xhuge-4">
            <div class="w-layout-grid uui-layout08_component">
              <div class="uui-layout08_content">
                <h2 class="uui-heading-medium-2">Who Qualifies?</h2>
                <div class="uui-space-xsmall"></div>
                <div class="uui-text-size-large-2">The ProsperOn Pilot Program is a small scale launch of our product. Participating classes are limited to the requirements set below. Have any questions? No problem, schedule a 15 minute meeting with our team!</div>
                <div class="uui-layout08_item-list">
                  <div id="w-node-c14751ab-da04-71b7-6245-3465f5179920-473db6c9" class="uui-layout08_item">
                    <div class="uui-layout08_item-text-wrapper">
                      <div class="uui-text-size-large-2">Are you a professor who...</div>
                    </div>
                  </div>
                  <div id="w-node-c14751ab-da04-71b7-6245-3465f5179924-473db6c9" class="uui-layout08_item">
                    <div class="uui-layout08_item-icon-wrapper">
                      <div class="uui-icon-1x1-xsmall-3 check w-embed"><svg width="currentWidth" height="currentHeight" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 14C0 6.26801 6.26801 0 14 0V0C21.732 0 28 6.26801 28 14V14C28 21.732 21.732 28 14 28V28C6.26801 28 0 21.732 0 14V14Z" fill="#d1ecff"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9457 8.62169L11.5923 16.6834L9.37568 14.315C8.96734 13.93 8.32568 13.9067 7.85901 14.2334C7.40401 14.5717 7.27568 15.1667 7.55568 15.645L10.1807 19.915C10.4373 20.3117 10.8807 20.5567 11.3823 20.5567C11.8607 20.5567 12.3157 20.3117 12.5723 19.915C12.9923 19.3667 21.0073 9.81169 21.0073 9.81169C22.0573 8.73836 20.7857 7.79336 19.9457 8.61002V8.62169Z" fill="#1f79ba"></path>
                        </svg></div>
                    </div>
                    <div class="uui-layout08_item-text-wrapper">
                      <div class="uui-text-size-large-2">is an advocate for student financial literacy. </div>
                    </div>
                  </div>
                  <div id="w-node-c14751ab-da04-71b7-6245-3465f517992a-473db6c9" class="uui-layout08_item">
                    <div class="uui-layout08_item-icon-wrapper">
                      <div class="uui-icon-1x1-xsmall-3 check w-embed"><svg width="currentWidth" height="currentHeight" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 14C0 6.26801 6.26801 0 14 0V0C21.732 0 28 6.26801 28 14V14C28 21.732 21.732 28 14 28V28C6.26801 28 0 21.732 0 14V14Z" fill="#d1ecff"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9457 8.62169L11.5923 16.6834L9.37568 14.315C8.96734 13.93 8.32568 13.9067 7.85901 14.2334C7.40401 14.5717 7.27568 15.1667 7.55568 15.645L10.1807 19.915C10.4373 20.3117 10.8807 20.5567 11.3823 20.5567C11.8607 20.5567 12.3157 20.3117 12.5723 19.915C12.9923 19.3667 21.0073 9.81169 21.0073 9.81169C22.0573 8.73836 20.7857 7.79336 19.9457 8.61002V8.62169Z" fill="#1f79ba"></path>
                        </svg></div>
                    </div>
                    <div class="uui-layout08_item-text-wrapper">
                      <div class="uui-text-size-large-2">works under your Universities School of Business.</div>
                    </div>
                  </div>
                  <div id="w-node-c14751ab-da04-71b7-6245-3465f5179930-473db6c9" class="uui-layout08_item">
                    <div class="uui-layout08_item-icon-wrapper">
                      <div class="uui-icon-1x1-xsmall-3 check w-embed"><svg width="currentWidth" height="currentHeight" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 14C0 6.26801 6.26801 0 14 0V0C21.732 0 28 6.26801 28 14V14C28 21.732 21.732 28 14 28V28C6.26801 28 0 21.732 0 14V14Z" fill="#d1ecff"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9457 8.62169L11.5923 16.6834L9.37568 14.315C8.96734 13.93 8.32568 13.9067 7.85901 14.2334C7.40401 14.5717 7.27568 15.1667 7.55568 15.645L10.1807 19.915C10.4373 20.3117 10.8807 20.5567 11.3823 20.5567C11.8607 20.5567 12.3157 20.3117 12.5723 19.915C12.9923 19.3667 21.0073 9.81169 21.0073 9.81169C22.0573 8.73836 20.7857 7.79336 19.9457 8.61002V8.62169Z" fill="#1f79ba"></path>
                        </svg></div>
                    </div>
                    <div class="uui-layout08_item-text-wrapper">
                      <div class="uui-text-size-large-2">has the flexibility to make the ProsperOn Pilot classwork, homework, bonus credit, or a resource this Spring! </div>
                    </div>
                  </div>
                </div>
                <div class="uui-navbar01_button-wrapper qualifications">
                  <a href="https://zcal.co/tonycerce/intro" class="uui-button w-inline-block">
                    <div class="text-block-81 _14px-button">Schedule an Intro Meeting</div>
                  </a>
                </div>
              </div>
              <div class="uui-layout08_image-wrapper"><img src="{% static 'main-website/images/Artboard-–-3.png' %}" loading="lazy" width="1440" sizes="(max-width: 479px) 69vw, (max-width: 767px) 38vw, (max-width: 991px) 42vw, (max-width: 1919px) 39vw, 608px" alt="Dashboard mockup" srcset="{% static 'main-website/images/Artboard-–-3.png' %} 500w, {% static 'main-website/images/Artboard-–-3.png' %} 800w, {% static 'main-website/images/Artboard-–-3.png' %} 1080w, {% static 'main-website/images/Artboard-–-3.png' %} 1440w" class="uui-layout08_image"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="brix---section-5 wf-section">
    <div class="brix---container-default-5 w-container">
      <div class="brix---mg-bottom-48px-4">
        <div data-w-id="160dfb7f-d306-f62a-97ff-1213ccd878d1" class="brix---inner-container-574px---center">
          <div class="brix---text-center">
            <div class="brix---mg-bottom-16px-3">
              <div class="brix---color-neutral-800">
                <h2 class="brix---heading-h2-size-5">Frequently Asked Questions</h2>
              </div>
            </div>
            <div class="brix---color-neutral-600">
              <p class="brix---paragraph-default-6">If we don&#x27;t answer your question here, just ask!</p>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="160dfb7f-d306-f62a-97ff-1213ccd878da" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="brix---inner-container-1012px-center">
        <div class="brix---accordion-v3-card">
          <div class="w-layout-grid brix---grid-1-column-gap-row-0">
            <div data-w-id="160dfb7f-d306-f62a-97ff-1213ccd878dd" class="brix---accordion-item-wrapper-v3-first">
              <div class="brix---accordion-content-wrapper-v2">
                <div class="brix---accordion-header">
                  <div class="brix---color-neutral-800">
                    <h3 class="brix---accordion-title">Is the Pilot Program the entire product?</h3>
                  </div>
                </div>
                <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="brix---acordion-body">
                  <div class="brix---accordion-spacer"></div>
                  <div class="brix---color-neutral-600">
                    <p class="brix---paragraph-default-6">No, the pilot consists of 2 modules, 3 anytime decisions, and 3 scenarios.</p>
                  </div>
                </div>
              </div>
              <div class="brix---accordion-right-side">
                <a href="#" class="brix---btn-circle-accordion-btn w-inline-block"><img src="images/chevron-right-icon-elements-brix-templates.svg" alt="Icon - Elements Webflow Library - BRIX Templates" class="brix---accordion-arrow-icon"></a>
              </div>
            </div>
            <div data-w-id="160dfb7f-d306-f62a-97ff-1213ccd878eb" class="brix---accordion-item-wrapper-v3">
              <div class="brix---accordion-content-wrapper-v2">
                <div class="brix---accordion-header">
                  <div class="brix---color-neutral-800">
                    <h3 class="brix---accordion-title">Can students use the platform outside of the Pilot Program?</h3>
                  </div>
                </div>
                <div class="brix---acordion-body">
                  <div class="brix---accordion-spacer"></div>
                  <div class="brix---color-neutral-600">
                    <p class="brix---paragraph-default-6">No, we are only launching the product as a Pilot Program so our team can focus on our target demographic...college seniors in a classroom setting. </p>
                  </div>
                </div>
              </div>
              <div class="brix---accordion-right-side">
                <a href="#" class="brix---btn-circle-accordion-btn w-inline-block"><img src="images/chevron-right-icon-elements-brix-templates.svg" alt="Icon - Elements Webflow Library - BRIX Templates" class="brix---accordion-arrow-icon"></a>
              </div>
            </div>
            <div data-w-id="160dfb7f-d306-f62a-97ff-1213ccd878f9" class="brix---accordion-item-wrapper-v3">
              <div class="brix---accordion-content-wrapper-v2">
                <div class="brix---accordion-header">
                  <div class="brix---color-neutral-800">
                    <h3 class="brix---accordion-title">How many careers are offered in the pilot?</h3>
                  </div>
                </div>
                <div class="brix---acordion-body">
                  <div class="brix---accordion-spacer"></div>
                  <div class="brix---color-neutral-600">
                    <p class="brix---paragraph-default-6">We offer 120 different career choices; however, this number will increase once we expand outside of Schools of Business. </p>
                  </div>
                </div>
              </div>
              <div class="brix---accordion-right-side">
                <a href="#" class="brix---btn-circle-accordion-btn w-inline-block"><img src="images/chevron-right-icon-elements-brix-templates.svg" alt="Icon - Elements Webflow Library - BRIX Templates" class="brix---accordion-arrow-icon"></a>
              </div>
            </div>
            <div data-w-id="160dfb7f-d306-f62a-97ff-1213ccd87907" class="brix---accordion-item-wrapper-v3-last">
              <div class="brix---accordion-content-wrapper-v2">
                <div class="brix---accordion-header">
                  <div class="brix---color-neutral-800">
                    <h3 class="brix---accordion-title">How much does the professor have to do?</h3>
                  </div>
                </div>
                <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="brix---acordion-body">
                  <div class="brix---accordion-spacer"></div>
                  <div class="brix---color-neutral-600">
                    <p class="brix---paragraph-default-6">Very little! The Pilot Program is very easy to run as a professor. First, sign up to run the program in your class via this link (https://www.prosperon.io/signup-form). Second, send/post a link to your students so they can access the product. Third, receive an email with the results from your class. <br><br>We encourage professors to schedule a meeting with our team before signing up for the program. You can do so here...(https://zcal.co/tonycerce/intro). </p>
                  </div>
                </div>
              </div>
              <div class="brix---accordion-right-side">
                <a href="#" class="brix---btn-circle-accordion-btn w-inline-block"><img src="images/chevron-right-icon-elements-brix-templates.svg" alt="Icon - Elements Webflow Library - BRIX Templates" class="brix---accordion-arrow-icon"></a>
              </div>
            </div>
          </div>
          <div data-w-id="160dfb7f-d306-f62a-97ff-1213ccd87918" class="brix---accordion-item-wrapper-v3-last">
            <div class="brix---accordion-content-wrapper-v2">
              <div class="brix---accordion-header">
                <div class="brix---color-neutral-800">
                  <h3 class="brix---accordion-title">Why should I do this?</h3>
                </div>
              </div>
              <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="brix---acordion-body">
                <div class="brix---accordion-spacer"></div>
                <div class="brix---color-neutral-600">
                  <p class="brix---paragraph-default-6">The Pilot Program was designed to be a win for everyone involved. Students get exposure to the process of getting a job and budgeting, while being able to contribute feedback to a developing tech product. Professors receive a turnkey solution for financial literacy content, that integrates directly into their class. Finally, our team here at ProsperOn receives accurate feedback on our product and business model. </p>
                </div>
              </div>
            </div>
            <div class="brix---accordion-right-side">
              <a href="#" class="brix---btn-circle-accordion-btn w-inline-block"><img src="images/chevron-right-icon-elements-brix-templates.svg" alt="Icon - Elements Webflow Library - BRIX Templates" class="brix---accordion-arrow-icon"></a>
            </div>
          </div>
          <div data-w-id="160dfb7f-d306-f62a-97ff-1213ccd87926" class="brix---accordion-item-wrapper-v3-last">
            <div class="brix---accordion-content-wrapper-v2">
              <div class="brix---accordion-header">
                <div class="brix---color-neutral-800">
                  <h3 class="brix---accordion-title">Does the pilot cost anything? </h3>
                </div>
              </div>
              <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="brix---acordion-body">
                <div class="brix---accordion-spacer"></div>
                <div class="brix---color-neutral-600">
                  <p class="brix---paragraph-default-6">No, the Pilot Program is free for both students and professors. </p>
                </div>
              </div>
            </div>
            <div class="brix---accordion-right-side">
              <a href="#" class="brix---btn-circle-accordion-btn w-inline-block"><img src="images/chevron-right-icon-elements-brix-templates.svg" alt="Icon - Elements Webflow Library - BRIX Templates" class="brix---accordion-arrow-icon"></a>
            </div>
          </div>
          <div data-w-id="160dfb7f-d306-f62a-97ff-1213ccd87934" class="brix---accordion-item-wrapper-v3-last">
            <div class="brix---accordion-content-wrapper-v2">
              <div class="brix---accordion-header">
                <div class="brix---color-neutral-800">
                  <h3 class="brix---accordion-title">Does ProsperOn have a data policy? </h3>
                </div>
              </div>
              <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="brix---acordion-body">
                <div class="brix---accordion-spacer"></div>
                <div class="brix---color-neutral-600">
                  <p class="brix---paragraph-default-6">No, we do not have an official data policy, however, all data collected is kept within the walls of ProsperOn and will only be used for product improvements. </p>
                </div>
              </div>
            </div>
            <div class="brix---accordion-right-side">
              <a href="#" class="brix---btn-circle-accordion-btn w-inline-block"><img src="images/chevron-right-icon-elements-brix-templates.svg" alt="Icon - Elements Webflow Library - BRIX Templates" class="brix---accordion-arrow-icon"></a>
            </div>
          </div>
          <div data-w-id="160dfb7f-d306-f62a-97ff-1213ccd87942" class="brix---accordion-item-wrapper-v3-last">
            <div class="brix---accordion-content-wrapper-v2">
              <div class="brix---accordion-header">
                <div class="brix---color-neutral-800">
                  <h3 class="brix---accordion-title">I didn&#x27;t receive a confirmation email after signing up, what should I do?</h3>
                </div>
              </div>
              <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="brix---acordion-body">
                <div class="brix---accordion-spacer"></div>
                <div class="brix---color-neutral-600">
                  <p class="brix---paragraph-default-6">Confirmation emails take 1-3 business days to send. If you still haven&#x27;t heard back after that time has passed, please call Tony at (774) 256 - 1085 or send him an email at tonycerce@prosperon.io </p>
                </div>
              </div>
            </div>
            <div class="brix---accordion-right-side">
              <a href="#" class="brix---btn-circle-accordion-btn w-inline-block"><img src="images/chevron-right-icon-elements-brix-templates.svg" alt="Icon - Elements Webflow Library - BRIX Templates" class="brix---accordion-arrow-icon"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=63dacda9b757563d8174a538" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{% static 'main-website/webflow.js' %}" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
</body>



{% endblock %}