{% extends 'Students/onboarding/base.html' %}
{% load static %}

{% block content %}
<body class="body">
  <div class="section wf-section">
    <div class="div-block">
      <h1 class="welcome-text" style="font-family: 'Poppins', sans-serif; font-size: 36px; padding-top: 0px">Welcome to </h1>
        <img style="padding-bottom: 40px" src="{% static 'students/onboarding/images/ProsperOn-University-Logo.png' %}" loading="lazy" width="500" sizes="226px" srcset="{% static 'students/onboarding/images/ProsperOn-University-Logo.png' %} 500w, {% static 'students/onboarding/images/ProsperOn-University-Logo.png' %} 800w, {% static 'students/onboarding/images/ProsperOn-University-Logo.png' %} 1080w, {% static 'students/onboarding/images/ProsperOn-University-Logo.png' %} 1600w, {% static 'students/onboarding/images/ProsperOn-University-Logo.png' %} 2000w" alt="" class="image">
        <form method="Post">
        {% csrf_token %}
            <input type="text" value="1" class="progress-input" name="progress">
            <button class="next-btn" type="submit">Get Started</button>
        </form>
    </div>
  </div>
</body>
{% endblock %}

