{% extends 'Students/onboarding/base.html' %}

{% block content %}
<body class="body-background">
    <div class="onboarding-container">
        <div class="header-container">
            <h1 class="onboarding-title-header" style="font-family: Poppins; font-size: 36px">Thank You for Being Here</h1>
            <h1 class="onboarding-subheader" style="font-family: Poppins; font-size: 24px"> </h1>
        </div>
    <div class="video-container">
        <iframe class="video" src="https://www.youtube.com/embed/Zzpduc9HW0o?rel=0" frameborder="0" allow="autoplay"> </iframe>
    </div>
  </div>
    <div class="button-container">
        <form method="post">
        {% csrf_token %}
            <div class="button-wrapper">
                <a href="{% url 'Students:onboarding-step1' %}" class="back-btn" style="font-family: Poppins">Back</a>
                <input type="text" value="2" class="progress-input" name="progress">
                <button type="submit" class="next-btn" style="font-family: Poppins">Next</button>
            </div>
        </form>
  </div>
</body>
{% endblock %}