{% extends 'Students/base.html' %}
{% load static %}

{% block stylesheets %}
    <link href="{% static 'students/m1/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'students/css/new_stylesheet.css' %}" rel="stylesheet" type="text/css">

{% endblock %}


{% block content %}


    <body>
  <div class="alert-page-wrapper" style="height: 91vh">
    <div class="alert-page-container" style="margin-top: 0px; padding-bottom: 20px; padding-top: 30px; max-width: none " >
      <p class="alert-box-title" style="padding-bottom: 5px">Time for Interviews</p>
      <p class="alert-box-text">Here are 3 companies interested in interviewing you!</p>
      <div class="div-block">
        <div class="w-layout-grid grid-9">
          <div class="_20-padding-container box-shadow centered-div">
            <div class="calendar-wrapper">
              <div class="month-year-wrapper">

                  <div class="_18 semibold text">
                      <span>{% if 'Spring' in season %}May{% endif %}{% if 'Fall' in season %}December{% endif %}</span><span>, {{ year }}</span>
                  </div>
              </div>

              <div class="day-wrapper">
                <div class="w-layout-grid grid-3">
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201659-f522dbc2" class="day-name">
                    <div class="text-block-3">Sun</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d20165c-f522dbc2" class="day-name">
                    <div class="text-block-3">Mon</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d20165f-f522dbc2" class="day-name">
                    <div class="text-block-3">Tue</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201662-f522dbc2" class="day-name">
                    <div class="text-block-3">Wed</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201665-f522dbc2" class="day-name">
                    <div class="text-block-3">Thu</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201668-f522dbc2" class="day-name">
                    <div class="text-block-3">Fri</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d20166b-f522dbc2" class="day-name">
                    <div class="text-block-3">Sat</div>
                  </div>
                </div>
              </div>
              <div class="day-number-wrapper" style="height: 200px">
                <div class="w-layout-grid grid-4" style="height: 100%">
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201670-f522dbc2" class="number non-current smaller">
                    <div>30</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201673-f522dbc2" class="number current-month smaller-calendar">
                    <div>01</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201676-f522dbc2" class="number current-month smaller-calendar">
                    <div>02</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201679-f522dbc2" class="number current-month smaller-calendar">
                    <div>03</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d20167c-f522dbc2" class="number current-month smaller-calendar">
                    <div>04</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d20167f-f522dbc2" class="number current-month smaller-calendar">
                    <div>05</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201682-f522dbc2" class="number current-month smaller-calendar">
                    <div>06</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201685-f522dbc2" class="number current-month smaller-calendar">
                    <div>07</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201688-f522dbc2" class="number current-month smaller-calendar">
                    <div>08</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d20168b-f522dbc2" class="number current-month smaller-calendar">
                    <div>09</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d20168e-f522dbc2" class="number current-month smaller-calendar">
                    <div>10</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201691-f522dbc2" class="number current-month smaller-calendar">
                    <div>11</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201694-f522dbc2" class="number current-month smaller-calendar">
                    <div>12</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d201697-f522dbc2" class="number current-month smaller-calendar">
                    <div>13</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d20169a-f522dbc2" class="number current-month smaller-calendar">
                    <div>14</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d20169d-f522dbc2" class="number current-month smaller-calendar">
                    <div>15</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016a0-f522dbc2" class="number current-month smaller-calendar">
                    <div>16</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016a3-f522dbc2" class="number current-month smaller-calendar">
                    <div>17</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016a6-f522dbc2" class="number current-month smaller-calendar">
                    <div>18</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d20r16a9-f522dbc2" class="number current-month smaller-calendar">
                    <div>19</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016ac-f522dbc2" class="number current-month smaller-calendar">
                    <div>20</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016af-f522dbc2" class="number current-month smaller-calendar">
                    <div>21</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016b2-f522dbc2" class="number current-month smaller-calendar">
                    <div>22</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016b5-f522dbc2" class="number current-month smaller-calendar">
                    <div>23</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016b8-f522dbc2" class="number current-month smaller-calendar">
                    <div>24</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016bb-f522dbc2" class="number current-month smaller-calendar">
                    <div>25</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016be-f522dbc2" class="number current-month smaller-calendar current-day">
                    <div>26</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016c1-f522dbc2" class="number current-month smaller-calendar">
                    <div>27</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016c4-f522dbc2" class="number current-month smaller-calendar">
                    <div>28</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016c7-f522dbc2" class="number current-month smaller-calendar">
                    <div>29</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016ca-f522dbc2" class="number current-month smaller-calendar future-date">
                    <div>30</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016cd-f522dbc2" class="number current-month smaller-calendar">
                    <div>31</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016d0-f522dbc2" class="number non-current smaller">
                    <div>1</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016d3-f522dbc2" class="number non-current smaller">
                    <div>02</div>
                  </div>
                  <div id="w-node-ae09cc4d-60c5-a918-ed3b-483f6d2016d6-f522dbc2" class="number non-current smaller">
                    <div>03</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_497ef83a-ad7f-3c9b-b7f8-0b84f0b69568-f522dbc2" class="interviewer-wrapper">
            <div class="w-layout-grid grid-10">


            {% for job in the_jobs %}
              <div id="w-node-_562ffa90-e54d-c6ad-3dd0-07afa7f13040-f522dbc2" class="company-wrapper" style="-webkit-align-content: center">
                <div class="company-logo-wrapper" style="width: 100%; display: flex; justify-content: center"><img src="../../../media/{{ job.logo }}" loading="lazy" width="150" height="100" alt=""></div>
                <p class="company-name">{{ job.company }}</p>
                <div class="job-information-wrapper">
                  <div class="w-layout-grid grid-11" style="grid-column-gap: 0px">
                    <div id="w-node-_23fbb8b9-7f3b-59fb-6906-bbf1f1640f08-f522dbc2" class="icon-wrapper" style="max-height: 25px"><img src="{% static 'students/m1/images/map-marker.svg' %}" loading="lazy" width="25" height="25" alt=""></div>
                    <div id="w-node-_3a7ac47a-eef4-90f4-4dd3-d6ff728712b5-f522dbc2" class="information-wrapper" style="max-height: 25px; display: flex; -webkit-align-items: center ">
                      <div class="text-block-56">{{ job.location }}</div>
                    </div>
                    <div id="w-node-_8cb8b1f8-d28a-ee7d-2668-cf7831331e40-f522dbc2" class="icon-wrapper" style="max-height: 25px"><img src="{% static 'students/m1/images/building.svg' %}" loading="lazy" width="25" height="25" alt=""></div>
                    <div id="w-node-e415223b-1fc3-147b-97a6-fd46434b35e9-f522dbc2" class="information-wrapper" style="max-height: 25px; display: flex; -webkit-align-items: center ">
                      <div>{{ job.job_type }}</div>
                    </div>
                    <div id="w-node-_1422e268-6778-6cd1-e590-fc4095ada40e-f522dbc2" class="icon-wrapper" style="max-height: 25px"><img src="{% static 'students/m1/images/clock.svg' %}" loading="lazy" width="25" height="25" alt=""></div>
                    <div id="w-node-cd1dba90-5092-5d95-8ed4-185eb69da580-f522dbc2" class="information-wrapper" style="max-height: 25px; display: flex; -webkit-align-items: center ">
                      <div>{{ job.job_hours }}</div>
                    </div>
                    <div id="w-node-_1608ac05-674a-b1bc-783c-866d62a888c8-f522dbc2" class="icon-wrapper" style="max-height: 25px"><img src="{% static 'students/m1/images/dollar.svg' %}" loading="lazy" width="25" height="25" alt=""></div>
                    <div id="w-node-_68064f95-5fc7-6fc1-c077-476efba16390-f522dbc2" class="information-wrapper" style="max-height: 25px; display: flex; -webkit-align-items: center ">
                      <div>{{ job.salary_range }}</div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}






            </div>
          </div>
        </div>
      </div>
    <form method="post" style="width: 100%">
        {% csrf_token %}
            <div class="bottom-btn-wrapper" style="display: flex; justify-content: space-between; width: 100%; padding: 0px; margin-top: 20px">
                <a href="../../university/video/2" class="back-btn">Back</a>
                <input type="text" value="8" class="progress-input" name="progress" style="display:none;">
                <button type="submit" class="next-btn">Next</button>
            </div>
        </form>
    </div>

  </div>


    </body>



{% endblock %}

