{% extends 'Students/base.html' %}
{% load static %}

{% block stylesheets %}
    <link href="{% static 'students/m1/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'students/css/new_stylesheet.css' %}" rel="stylesheet" type="text/css">

{% endblock %}


{% block content %}
<body style="padding: 0px; margin: 0px">
<div class="alert-page-wrapper">
    <div class="alert-page-container">
        <p class="alert-box-title" style="padding-bottom: 20px">Time for interviews</p>
        <p class="alert-box-text">Thanks</p>
        <div>



        <div class="div-block-9">
      <div class="w-layout-grid grid-2">
        <div id="w-node-f5192dd1-f715-d232-45c5-059186fb6318-b159a0e6" class="calandar-container">
          <h1 class="calendar-month">June 2020</h1>
          <div>
            <div class="w-layout-grid grid-3">
              <div id="w-node-b74a2999-05a1-3c2b-f2ad-6519d20e8b57-b159a0e6">
                <h1 class="calendar-day">SUN</h1>
              </div>
              <div id="w-node-_38efd17c-f381-9e89-b4d0-5cafbbf55738-b159a0e6">
                <h1 class="calendar-day">MON</h1>
              </div>
              <div id="w-node-_4f21f7c6-4e62-e42f-e2a5-2bad20a0034a-b159a0e6">
                <h1 class="calendar-day">TUE</h1>
              </div>
              <div id="w-node-e0f41e0b-cfce-0b50-f2dc-10de7b449303-b159a0e6">
                <h1 class="calendar-day">WED</h1>
              </div>
              <div id="w-node-dd088046-6f5b-9f98-71be-e5723f4df7a9-b159a0e6">
                <h1 class="calendar-day">THU</h1>
              </div>
              <div id="w-node-_18f3a8f3-1250-7aa2-c8c8-6d7fb28b10fe-b159a0e6">
                <h1 class="calendar-day">FRI</h1>
              </div>
              <div id="w-node-e2bfb511-7b33-9819-b524-724970233114-b159a0e6">
                <h1 class="calendar-day">SAT</h1>
              </div>
              <div id="w-node-_23fd70cf-c8a5-7db2-7df1-ac515292dc3b-b159a0e6">
                <h1 class="noncurrent-month-date">31</h1>
              </div>
              <div id="w-node-_101325c0-ca54-5fd5-bb64-45d0353f0569-b159a0e6" class="current-date-bg">
                <h1 class="current-day">01</h1>
              </div>
              <div id="w-node-_2cad1a3e-25a5-28f6-e1ff-13f4a26f4888-b159a0e6">
                <h1 class="time-passed">02</h1>
              </div>
              <div id="w-node-dd0ab12b-1cac-43c3-63a7-64ef104f9ace-b159a0e6" class="start-date">
                <h1 class="current-day">03</h1>
              </div>
              <div id="w-node-d1bcb325-939e-fea3-819a-cdf76ba0a42f-b159a0e6">
                <h1 class="current-month-day">04</h1>
              </div>
              <div id="w-node-c679094a-5922-51e5-bf2f-3e5f4fad3d4c-b159a0e6">
                <h1 class="current-month-day">05</h1>
              </div>
              <div id="w-node-fc212360-4a18-f206-4a5a-ce315de4210b-b159a0e6">
                <h1 class="current-month-day">06</h1>
              </div>
              <div id="w-node-_00642bdb-d02e-dd96-1956-0f3661f91de4-b159a0e6">
                <h1 class="current-month-day">07</h1>
              </div>
              <div id="w-node-_41b1adc3-9f14-3756-76a9-6fe946cacf2b-b159a0e6">
                <h1 class="current-month-day">08</h1>
              </div>
              <div id="w-node-_076a9c98-df53-7d32-20db-ecf8eceb1506-b159a0e6">
                <h1 class="current-month-day">09</h1>
              </div>
              <div id="w-node-f83a23d3-5de5-b6bc-e69e-61e4a94705d5-b159a0e6">
                <h1 class="current-month-day">10</h1>
              </div>
              <div id="w-node-_4828591f-a506-9d42-d229-e068a7bed814-b159a0e6">
                <h1 class="current-month-day">11</h1>
              </div>
              <div id="w-node-dbdbab4f-389c-e368-e232-4711a8f2c569-b159a0e6">
                <h1 class="current-month-day">12</h1>
              </div>
              <div id="w-node-_185c6e16-9b92-145c-d03f-a4e247b41af0-b159a0e6">
                <h1 class="current-month-day">13</h1>
              </div>
              <div id="w-node-_66d22fa7-08fd-7500-775c-ef5ee16a57d5-b159a0e6">
                <h1 class="current-month-day">14</h1>
              </div>
              <div id="w-node-fb51a8a2-af3f-e1cd-2f66-9bd57a35d9c1-b159a0e6">
                <h1 class="current-month-day">15</h1>
              </div>
              <div id="w-node-f2ce4b21-af5d-7605-60c0-e2750e2dbba4-b159a0e6">
                <h1 class="current-month-day">16</h1>
              </div>
              <div id="w-node-_2bd80a88-6e9f-2129-53eb-21c8729a4bde-b159a0e6">
                <h1 class="current-month-day">17</h1>
              </div>
              <div id="w-node-_02719a6d-cbc5-01ea-7c2a-d551676bceca-b159a0e6">
                <h1 class="current-month-day">18</h1>
              </div>
              <div id="w-node-_49753dff-8c9f-9caa-e894-9bf6ccdce47c-b159a0e6">
                <h1 class="current-month-day">19</h1>
              </div>
              <div id="w-node-b3fc459e-65f3-9c68-d61e-7404e3b1d705-b159a0e6">
                <h1 class="current-month-day">20</h1>
              </div>
              <div id="w-node-d8a94c64-691d-e1c3-ec4e-11752bf2bb0a-b159a0e6">
                <h1 class="current-month-day">21</h1>
              </div>
              <div id="w-node-_8afb854c-90d2-392a-910b-1c5a4cc2ae9e-b159a0e6">
                <h1 class="current-month-day">22</h1>
              </div>
              <div id="w-node-de6a8f39-0bbb-a9d5-c62f-9d9fa72cf11d-b159a0e6">
                <h1 class="current-month-day">23</h1>
              </div>
              <div id="w-node-a3578c3a-582c-64be-c3c7-88d5ee699b70-b159a0e6">
                <h1 class="current-month-day">24</h1>
              </div>
              <div id="w-node-cb22179a-b407-1862-33e0-a996d91d03e8-b159a0e6">
                <h1 class="current-month-day">25</h1>
              </div>
              <div id="w-node-_10b28a89-5ba1-bd53-5a1c-2b154054ab46-b159a0e6">
                <h1 class="current-month-day">26</h1>
              </div>
              <div id="w-node-_9f0972f6-28d5-87a3-fa52-c3651998a51e-b159a0e6">
                <h1 class="current-month-day">27</h1>
              </div>
              <div id="w-node-df625d36-c6ea-9253-fa7f-ea3fb845ead2-b159a0e6">
                <h1 class="current-month-day">28</h1>
              </div>
              <div id="w-node-_3ac16bd5-d35d-5a3f-655e-a6708d0bb9ce-b159a0e6">
                <h1 class="current-month-day">29</h1>
              </div>
              <div id="w-node-d3c3b2d5-8e86-8b3b-7a1b-25d9e24d199a-b159a0e6">
                <h1 class="current-month-day">30</h1>
              </div>
              <div id="w-node-_7461d640-0bc6-ee59-52a1-4d49851151b3-b159a0e6">
                <h1 class="noncurrent-month-date">01</h1>
              </div>
              <div id="w-node-_50300e98-1619-0e3d-8c06-37f0608ff04f-b159a0e6">
                <h1 class="noncurrent-month-date">02</h1>
              </div>
              <div id="w-node-_5b990b58-41da-32c9-9ab4-797c1d67257d-b159a0e6">
                <h1 class="noncurrent-month-date">03</h1>
              </div>
              <div id="w-node-b17ab8da-a1e2-49e3-f174-358440a55054-b159a0e6">
                <h1 class="noncurrent-month-date">04</h1>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-bd2fd6e4-a3c9-aefe-2177-f77fb6430eb9-b159a0e6" class="job-container-div">
          <div class="div-block-11"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="">
            <h1 class="job-title-heading">Partners LLC</h1>
          </div>
          <div class="benefits-container vertical">
            <div class="div-block-6"><img src="{% static 'students/m1/images/map-marker.svg' %}" loading="lazy" width="34" alt="" class="benefits-image">
              <h1 class="benefits-text">Boston Ma</h1>
            </div>
            <div class="div-block-6"><img src="{% static 'students/m1/images/building.svg' %}" loading="lazy" width="34" alt="">
              <h1 class="benefits-text">Heading</h1>
            </div>
            <div class="div-block-6"><img src="{% static 'students/m1/images/clock.svg' %}" loading="lazy" width="34" alt="">
              <h1 class="benefits-text">Heading</h1>
            </div>
            <div class="div-block-6"><img src="{% static 'students/m1/images/dollar.svg' %}" loading="lazy" width="34" alt="">
              <h1 class="benefits-text">Heading</h1>
            </div>
          </div>
        </div>
        <div id="w-node-ce8f2967-3dd0-0637-919f-80e1a5ad3b66-b159a0e6" class="job-container-div">
          <div class="div-block-12"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="">
            <h1 class="job-title-heading">Mother Truckers</h1>
          </div>
          <div class="benefits-container vertical">
            <div class="div-block-6"><img src="{% static 'students/m1/images/map-marker.svg' %}" loading="lazy" width="34" alt="" class="benefits-image">
              <h1 class="benefits-text">Boston Ma</h1>
            </div>
            <div class="div-block-6"><img src="{% static 'students/m1/images/building.svg' %}" loading="lazy" width="34" alt="">
              <h1 class="benefits-text">Heading</h1>
            </div>
            <div class="div-block-6"><img src="{% static 'students/m1/images/clock.svg' %}" loading="lazy" width="34" alt="">
              <h1 class="benefits-text">Heading</h1>
            </div>
            <div class="div-block-6"><img src="{% static 'students/m1/images/dollar.svg' %}" loading="lazy" width="34" alt="">
              <h1 class="benefits-text">Heading</h1>
            </div>
          </div>
        </div>
        <div id="w-node-_877191d7-7cae-0bd8-d896-32dc2398bab0-b159a0e6" class="job-container-div">
          <div class="div-block-13"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="">
            <h1 class="job-title-heading">Other Company</h1>
          </div>
          <div class="benefits-container vertical">
            <div class="div-block-6"><img src="{% static 'students/m1/images/map-marker.svg' %}" loading="lazy" width="34" alt="" class="benefits-image">
              <h1 class="benefits-text">Boston Ma</h1>
            </div>
            <div class="div-block-6"><img src="{% static 'students/m1/images/building.svg' %}" loading="lazy" width="34" alt="">
              <h1 class="benefits-text">Heading</h1>
            </div>
            <div class="div-block-6"><img src="{% static 'students/m1/images/clock.svg' %}" loading="lazy" width="34" alt="">
              <h1 class="benefits-text">Heading</h1>
            </div>
            <div class="div-block-6"><img src="{% static 'students/m1/images/dollar.svg' %}" loading="lazy" width="34" alt="">
              <h1 class="benefits-text">Heading</h1>
            </div>
          </div>
        </div>
      </div>
    </div>



        </div>
        <form method="post" style="width: 100%">
        {% csrf_token %}
         <div class="button-wrapper">
        <div class="button">
           <a href="{% url 'Students:onboarding-step1' %}" class="button-text" style="text-decoration: none">Back</a>
        </div>
        <div class="button next">
          <input type="text" value="2" class="progress-input" name="progress" style="display: none">
                <button type="submit" class="button-text next" style="background: none">Next</button>
        </div>
      </div>
 </form>
    </div>
</div>
</body>

<style>
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f6f8;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.benefits-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
}

.benefits-container {
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.benefits-container.vertical {
  margin-bottom: 0px;
}

.div-block-8 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f4f6f8;
}

.div-block-9 {
  background-color: #fff;
}

.grid-2 {
  -ms-grid-columns: 2fr 0.75fr 0.75fr 0.75fr;
  grid-template-columns: 2fr 0.75fr 0.75fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.calandar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #cae4ff;
  box-shadow: 1px 1px 3px 0 #bdbdbd;
}

.grid-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.job-container-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-style: solid;
  border-width: 1px;
  border-color: #cae4ff;
}

.job-title-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
  color: #1f79ba;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.calendar-month {
  color: #142450;
}

.calendar-day {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #8f9194;
  font-size: 16px;
}

.current-day {
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 16px;
}

.current-date-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #1f79ba;
}

.current-month-day {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  color: #142450;
  font-size: 16px;
}

.noncurrent-month-date {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  color: #8f9194;
  font-size: 16px;
}

.time-passed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  color: #1f79ba;
  font-size: 16px;
}

.start-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #93c6f9;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#w-node-f5192dd1-f715-d232-45c5-059186fb6318-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-b74a2999-05a1-3c2b-f2ad-6519d20e8b57-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_38efd17c-f381-9e89-b4d0-5cafbbf55738-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_4f21f7c6-4e62-e42f-e2a5-2bad20a0034a-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e0f41e0b-cfce-0b50-f2dc-10de7b449303-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-dd088046-6f5b-9f98-71be-e5723f4df7a9-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_18f3a8f3-1250-7aa2-c8c8-6d7fb28b10fe-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e2bfb511-7b33-9819-b524-724970233114-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_23fd70cf-c8a5-7db2-7df1-ac515292dc3b-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_101325c0-ca54-5fd5-bb64-45d0353f0569-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_2cad1a3e-25a5-28f6-e1ff-13f4a26f4888-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-dd0ab12b-1cac-43c3-63a7-64ef104f9ace-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d1bcb325-939e-fea3-819a-cdf76ba0a42f-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c679094a-5922-51e5-bf2f-3e5f4fad3d4c-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-fc212360-4a18-f206-4a5a-ce315de4210b-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_00642bdb-d02e-dd96-1956-0f3661f91de4-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_41b1adc3-9f14-3756-76a9-6fe946cacf2b-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_076a9c98-df53-7d32-20db-ecf8eceb1506-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f83a23d3-5de5-b6bc-e69e-61e4a94705d5-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_4828591f-a506-9d42-d229-e068a7bed814-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-dbdbab4f-389c-e368-e232-4711a8f2c569-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_185c6e16-9b92-145c-d03f-a4e247b41af0-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_66d22fa7-08fd-7500-775c-ef5ee16a57d5-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-fb51a8a2-af3f-e1cd-2f66-9bd57a35d9c1-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f2ce4b21-af5d-7605-60c0-e2750e2dbba4-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_2bd80a88-6e9f-2129-53eb-21c8729a4bde-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_02719a6d-cbc5-01ea-7c2a-d551676bceca-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_49753dff-8c9f-9caa-e894-9bf6ccdce47c-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b3fc459e-65f3-9c68-d61e-7404e3b1d705-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d8a94c64-691d-e1c3-ec4e-11752bf2bb0a-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_8afb854c-90d2-392a-910b-1c5a4cc2ae9e-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-de6a8f39-0bbb-a9d5-c62f-9d9fa72cf11d-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-a3578c3a-582c-64be-c3c7-88d5ee699b70-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-cb22179a-b407-1862-33e0-a996d91d03e8-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_10b28a89-5ba1-bd53-5a1c-2b154054ab46-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_9f0972f6-28d5-87a3-fa52-c3651998a51e-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-df625d36-c6ea-9253-fa7f-ea3fb845ead2-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_3ac16bd5-d35d-5a3f-655e-a6708d0bb9ce-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d3c3b2d5-8e86-8b3b-7a1b-25d9e24d199a-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_7461d640-0bc6-ee59-52a1-4d49851151b3-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_50300e98-1619-0e3d-8c06-37f0608ff04f-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_5b990b58-41da-32c9-9ab4-797c1d67257d-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b17ab8da-a1e2-49e3-f174-358440a55054-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-bd2fd6e4-a3c9-aefe-2177-f77fb6430eb9-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-ce8f2967-3dd0-0637-919f-80e1a5ad3b66-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-_877191d7-7cae-0bd8-d896-32dc2398bab0-b159a0e6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}


</style>



{% endblock %}

